<div ng-if="$ctrl.vm.canDisplayView" layout-padding layout-margin layout="row">
    <md-card flex layout-align="center center">
        <img ng-src="{{$ctrl.vm.userAccount.avatar}}" class="profil_image" alt="avatar">
        <h3>{{$ctrl.vm.userAccount.legalname}}</h3>
        <md-button class="md-raised md-warn"
                   ng-if="!$ctrl.vm.isMyAccount"
                   ng-click="$ctrl.vm.contact()">
            Contacter
        </md-button>
        <div layout-margin>
            <p>Mes projets&nbsp;: {{$ctrl.vm.userAccount.projectCreated}}</p>
            <p>Mes projets en cours&nbsp;: {{$ctrl.vm.userAccount.projectInProgressForMe}}</p>
            <p>Mes projets terminés&nbsp;: {{$ctrl.vm.userAccount.projectEndForMe}}</p>
            <hr>
            <p>Les projets que je réalise&nbsp;: {{$ctrl.vm.userAccount.projectIProgress}}</p>
            <p>Les projets que j'ai réalisé&nbsp;: {{$ctrl.vm.userAccount.projectIEnd}}</p>
        </div>
        <md-chips class="custom-chips" ng-model="$ctrl.vm.userAccount.skill2" readonly="true"
                  md-transform-chip="$ctrl.vm.userAccount.skill($chip)" md-removable="false">
            <md-chip-template>
                <span>
                    <strong>{{$chip.name}}</strong>
                </span>
            </md-chip-template>
            <button md-chip-remove class="md-primary">
                <md-icon md-svg-icon="md-close"></md-icon>
            </button>
        </md-chips>
    </md-card>
    <md-card  flex="70" style="min-height: 500px;">
        <md-content>
            <md-tabs md-dynamic-height >
                <md-tab ng-if="!$ctrl.vm.isMyAccount">
                    <md-tab-label>
                        <md-icon md-svg-icon="layout:signup"></md-icon>
                        Information
                    </md-tab-label>
                    <md-tab-body>
                        <div layout="column" flex class="content-wrapper" id="primary-col">
                            <md-input-container>
                                <label>Nom</label>
                                <input ng-model="$ctrl.vm.userAccount.legalname"
                                       type="text" name="firstname" disabled >
                            </md-input-container>
                            <md-input-container>
                                <label>Description</label>
                                <textarea ng-model="$ctrl.vm.userAccount.description"
                                          rows="5" name="description" disabled md-select-on-focus></textarea>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Addresse</label>
                                <input name="adress" type="text" disabled ng-model="$ctrl.vm.userAccount.address">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Code postal</label>
                                <input type="text" name="postalCode" disabled ng-model="$ctrl.vm.userAccount.postalcode">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Ville</label>
                                <input name="city" disabled ng-model="$ctrl.vm.userAccount.city">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Pays</label>
                                <md-select name="country" disabled ng-model="$ctrl.vm.userAccount.country">
                                    <md-option ng-repeat="pays in $ctrl.vm.pays" value="{{pays}}">
                                        {{pays}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>
                        <md-icon md-svg-icon="layout:signup"></md-icon>
                        Avis
                    </md-tab-label>
                </md-tab>
                <md-tab ng-if="$ctrl.vm.isMyAccount">
                    <md-tab-label>
                        <md-icon md-svg-icon="layout:signup"></md-icon>
                        Paramètres
                    </md-tab-label>
                    <md-tab-body>
                        <div layout="row" flex class="content-wrapper">
                            <md-sidenav layout="column" class="md-sidenav-left  primary-col " md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
                                <md-list class="muppet-list">
                                    <md-item ng-repeat="it in $ctrl.vm.muppets">
                                        <md-item-content>
                                            <md-button ng-click="$ctrl.vm.selectMuppet(it)" ng-class="{
                                                        'selected' : it === $ctrl.vm.selected }">

                                                {{it.name}}
                                            </md-button>
                                        </md-item-content>
                                    </md-item>
                                </md-list>
                            </md-sidenav>
                            <div layout="column" flex class="content-wrapper" id="primary-col">
                                <md-content layout="column" flex class="md-padding" ng-if="$ctrl.vm.selected.name == 'Profil'">
                                    <form name="profilForm" >
                                        <h2>{{$ctrl.vm.selected.name}}</h2>
                                        <p>Modifiez les paramètres de votre profil.</p>
                                        <md-list>
                                            <md-list-item>
                                                <label>Avatar : </label>
                                                <div ng-if="$ctrl.vm.userAccount.avatar !== undefined">
                                                    <img ng-src="{{$ctrl.vm.userAccount.avatar}}" class="avatar" />
                                                </div>

                                                <md-input-container>
                                                    <md-button class="md-primary md-raised" ngf-select="$ctrl.vm.uploadFiles($files)" title="upload" resetOnClick="true" >Upload</md-button>
                                                </md-input-container>
                                            </md-list-item>
                                        </md-list>

                                        <md-divider></md-divider>

                                        <md-input-container class="md-block">
                                            <label>Nom</label>
                                            <input ng-model="$ctrl.vm.userAccount.legalname"
                                                   type="text" name="firstname" >
                                        </md-input-container>

                                        <md-input-container>
                                            <label>Description</label>
                                            <textarea ng-model="$ctrl.vm.userAccount.description"
                                                      md-maxlength="150" rows="5" name="description" md-select-on-focus></textarea>
                                        </md-input-container>
                                        <md-input-container class="md-block">
                                            <label>Addresse</label>
                                            <input name="adress" type="text" ng-model="$ctrl.vm.userAccount.address">
                                        </md-input-container>

                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Code postal</label>
                                            <input type="text" name="postalCode" ng-model="$ctrl.vm.userAccount.postalcode">
                                        </md-input-container>

                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Ville</label>
                                                <input name="city" ng-model="$ctrl.vm.userAccount.city">
                                            </md-input-container>

                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Pays</label>
                                                <md-select name="country" ng-model="$ctrl.vm.userAccount.country">
                                                    <md-option ng-repeat="pays in $ctrl.vm.pays" value="{{pays}}">
                                                        {{pays}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>

                                        <md-divider></md-divider>
                                        <div layout="column">
                                            <md-input-container>
                                                <label>Compétences</label>
                                                <md-select ng-model="$ctrl.vm.userAccount.skill" multiple>
                                                    <md-optgroup label="Compétences">
                                                        <md-option ng-value="skill.id" ng-repeat="skill in $ctrl.vm.userAccount.skills">{{skill.name}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                            </md-input-container>
                                           
                                            <md-button class="md-raised md-warn"

                                                       ng-click="$ctrl.vm.changeProfil()">
                                                Modifier mon profil
                                            </md-button>
                                        </div>
                                    </form>
                                </md-content>
                                <md-content layout="column" flex class="md-padding" ng-if="$ctrl.vm.selected.name == 'Compte'">
                                    <form name="userFormMail" layout="column">
                                        <h3>{{$ctrl.vm.selected.name}}</h3>
                                        <p> Modifiez votre mail et/ou votre mot de passe</p>

                                        <md-input-container>
                                            <md-icon md-svg-src="../../../assets/img/icons/ic_email_24px.svg" class="email"></md-icon>

                                            <input type="email" name="email" required ng-model="$ctrl.vm.userAccount.email"  placeholder="E-Mail" ng-pattern="/^[a-zA-Z0-9._-]+@[a-z0-9._-]{2,}\.[a-z]{2,4}$/">

                                            <div ng-messages="userFormMail.email.$error">
                                                <div ng-message="pattern">Adresse E-mail incorrecte</div>
                                                <div ng-message="required">Merci de saisir une adresse E-mail.</div>
                                            </div>
                                        </md-input-container>


                                        <md-button class="md-raised md-warn"
                                                   ng-disabled="!userFormMail.$valid"
                                                   ng-click="$ctrl.vm.changeMail()">
                                            Modifier adresse e-mail
                                        </md-button>
                                    </form>
                                    <form name="userFormPassword" layout="column">
                                        <md-input-container>
                                            <label>Mot de passe actuel</label>
                                            <input type="password" ng-model="$ctrl.vm.userAccount.oldpassword"
                                                   name="password"
                                                   required ng-minlength="4">
                                            <div ng-messages="userFormPassword.password.$error"
                                                 ng-if="userFormPassword.password.$touched"
                                                 class="pm-front-validation-messages">
                                                <div ng-message="required">Merci de saisir un mot de passe.</div>
                                                <div ng-message="minlength">Le mot de passe doit contenir au minimum 4 caractères.</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container>
                                            <label>Nouveau mot de passe</label>
                                            <input type="password" ng-model="$ctrl.vm.userAccount.newpassword"
                                                   name="new_password"
                                                   required ng-minlength="4">
                                            <div ng-messages="userFormPassword.new_password.$error"
                                                 ng-if="userFormPassword.new_password.$touched"
                                                 class="pm-front-validation-messages">
                                                <div ng-message="required">Merci de saisir un mot de passe.</div>
                                                <div ng-message="minlength">Le mot de passe doit contenir au minimum 4 caractères.</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container>
                                            <label>Confimation</label>
                                            <input type="password" ng-model="$ctrl.vm.userAccount.passwordConfirm"
                                                   name="confirm_password"
                                                   compare-to="$ctrl.vm.userAccount.newpassword"
                                                   >
                                            <div ng-messages="userFormPassword.confirm_password.$error"
                                                 ng-if="userFormPassword.confirm_password.$dirty"
                                                 class="pm-front-validation-messages">
                                                <div ng-message="compareTo"
                                                     ng-if="userFormPassword.confirm_password.$dirty">Les mots de passes indiqués ne sont pas identiques.</div>
                                            </div>
                                        </md-input-container>

                                        <md-button class="md-raised md-warn"
                                                   ng-disabled="!userFormPassword.$valid"
                                                   ng-click="$ctrl.vm.changePassword()">
                                            Modifier mot de passe
                                        </md-button>
                                    </form>
                                </md-content>

                                <md-content layout="column" flex class="md-padding" ng-if="$ctrl.vm.selected.name == 'Suppression'">
                                    <h3>{{$ctrl.vm.selected.name}}</h3>
                                    <p> Pour supprimer votre compte, merci d'inscrire "SUPPRIMER" dans le champs ci-dessous</p>

                                    <md-input-container>
                                        <input type="text" ng-model="$ctrl.vm.userAccount.suppression"  placeholder="SUPPRIMER">
                                    </md-input-container>

                                    <md-button class="md-raised md-warn"
                                               ng-click="$ctrl.vm.delete()">
                                        SUPPRIMER
                                    </md-button>

                                </md-content>
                            </div>
                        </div>
                        <script>
                            function openCity(evt, paramsName) {
                                var i, x, tablinks;
                                x = document.getElementsByClassName("params");
                                for (i = 0; i < x.length; i++) {
                                    x[i].style.display = "none";
                                }
                                tablinks = document.getElementsByClassName("tablink");
                                for (i = 0; i < x.length; i++) {
                                    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
                                }
                                document.getElementById(paramsName).style.display = "block";
                                evt.currentTarget.className += " w3-red";
                            }
                        </script>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-content>
    </md-card>

</div>
