<div ng-if="$ctrl.vm.canDisplayView" layout-padding layout-margin layout="row">

    <md-card flex="30">

    </md-card>

    <md-card  flex="70" style="min-height: 500px;">
        <md-content>
            <md-tabs >
                <md-tab>
                    <md-tab-label>
                        <md-icon md-svg-icon="layout:signup"></md-icon>
                        Activité
                    </md-tab-label>
                    <md-tab-body>

                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>
                        <md-icon md-svg-icon="layout:signup"></md-icon>
                        Messagerie
                    </md-tab-label>
                </md-tab>
                <md-tab ng-if="$ctrl.vm.isMyAccount">
                    <md-tab-label>
                        <md-icon md-svg-icon="layout:signup"></md-icon>
                        Paramètres
                    </md-tab-label>
                    <md-tab-body>
                        <nav class="w3-sidenav w3-light-grey w3-card-2" style="width:130px; min-height: 400px">
                            <a href="javascript:void(0)" class="tablink" onclick="openCity(event, 'Profile')">Profil</a>
                            <a href="javascript:void(0)" class="tablink" onclick="openCity(event, 'Compte')">Compte: E-mail & mot de passe</a>
                            <a href="javascript:void(0)" class="tablink" onclick="openCity(event, 'Entreprise')">Entreprise</a>
                            <a href="javascript:void(0)" class="tablink" onclick="openCity(event, 'Suppression')">Suppression du compte</a>
                        </nav>

                            <div layout="row" flex class="content-wrapper">
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
          <md-list class="muppet-list">
            <md-item ng-repeat="it in $ctrl.vm.muppets">
              <md-item-content>
                <md-button ng-click="$ctrl.vm.selectMuppet(it)" ng-class="{'selected' : it === selected }">
                  <img ng-src="{{it.iconurl}}" class="face" alt="">
                  {{it.name}}
                </md-button>
              </md-item-content>
            </md-item>
          </md-list>
        </md-sidenav>
        <div layout="column" flex class="content-wrapper" id="primary-col">
            <md-content layout="column" flex class="md-padding">
              <h2>{{$ctrl.vm.selected.name}}</h2>
              <p>{{$ctrl.vm.selected.content}}</p>
              <div class="cell">
                <img ng-src="{{$ctrl.vm.selected.imgurl}}" alt="{{$ctrl.vm.selected.imgalt}}">
              </div>
            </md-content>
        </div>
    </div>
                        <script>
                            function openCity(evt, paramsName) {
                                var i, x, tablinks;
                                x = document.getElementsByClassName("params");
                                for (i = 0; i < x.length; i++) {
                                    x[i].style.display = "none";
                                }
                                tablinks = document.getElementsByClassName("tablink");
                                for (i = 0; i < x.length; i++) {
                                    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
                                }
                                document.getElementById(paramsName).style.display = "block";
                                evt.currentTarget.className += " w3-red";
                            }
                        </script>
                    </md-tab-body>  
                </md-tab>
            </md-tabs>
        </md-content>
    </md-card>

</div>