<div ng-if="$ctrl.vm.canDisplayView" layout-padding layout-margin layout="row">

    <md-card flex="30">

    </md-card>

    <md-card  flex="70" style="min-height: 500px;">
        <md-content>
            <md-tabs md-dynamic-height >
                <md-tab>
                    <md-tab-label>
                        <md-icon md-svg-icon="layout:signup"></md-icon>
                        Activité
                    </md-tab-label>
                    <md-tab-body>

                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>
                        <md-icon md-svg-icon="layout:signup"></md-icon>
                        Messagerie
                    </md-tab-label>
                </md-tab>
                <md-tab ng-if="$ctrl.vm.isMyAccount">
                    <md-tab-label>
                        <md-icon md-svg-icon="layout:signup"></md-icon>
                        Paramètres
                    </md-tab-label>
                    <md-tab-body>
                        <div layout="row" flex class="content-wrapper">
                            <md-sidenav layout="column" class="md-sidenav-left  primary-col " md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
                              <md-list class="muppet-list">
                                <md-item ng-repeat="it in $ctrl.vm.muppets">
                                  <md-item-content>
                                    <md-button ng-click="$ctrl.vm.selectMuppet(it)" ng-class="{'selected' : it === $ctrl.vm.selected }">
                                     
                                      {{it.name}}
                                    </md-button>
                                  </md-item-content>
                                </md-item>
                              </md-list>
                            </md-sidenav>
                            <div layout="column" flex class="content-wrapper" id="primary-col">
                                <md-content layout="column" flex class="md-padding" ng-if="$ctrl.vm.selected.name == 'Profil'">
                                  <h2>{{$ctrl.vm.selected.name}}</h2>
                                  <p>Modifiez les paramètres de votre profil.</p>
                                  <div class="cell">

                                  </div>
                                </md-content>
                                <md-content layout="column" flex class="md-padding" ng-if="$ctrl.vm.selected.name == 'Compte'">
                                    <h3>{{$ctrl.vm.selected.name}}</h3>
                                    <p> Modifiez votre mail et/ou votre mot de passe</p>
                                                             
                                    <md-input-container>
                                        <input type="email" ng-model="$ctrl.vm.userAccount.email"  placeholder="E-Mail">
                                    </md-input-container>

                                    <md-button class="md-raised md-warn"
                                    ng-click="$ctrl.vm.changePassword()">
                                        MODIFIER
                                    </md-button>

                                </md-content>
                            </div>
                        </div>
                        <script>
                            function openCity(evt, paramsName) {
                                var i, x, tablinks;
                                x = document.getElementsByClassName("params");
                                for (i = 0; i < x.length; i++) {
                                    x[i].style.display = "none";
                                }
                                tablinks = document.getElementsByClassName("tablink");
                                for (i = 0; i < x.length; i++) {
                                    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
                                }
                                document.getElementById(paramsName).style.display = "block";
                                evt.currentTarget.className += " w3-red";
                            }
                        </script>
                    </md-tab-body>  
                </md-tab>
            </md-tabs>
        </md-content>
    </md-card>

</div>