<div layout="row" layout-align="center center" flex>
  <md-card class="md-whiteframe-z1" layout-padding layout="column" flex-gt-sm="66" flex-gt-md="50" flex-gt-lg="33">
    <pm-form 
      name="form" 
      ng-submit="$ctrl.vm.connect()"
      flex layout="column">

      <pm-form-title>Sélection du compte de connexion</pm-form-title>

      <p class="md-body-2">
        Cette méthode de connexion n'est disponible que si les serveurs front-end et back-end sont tous les deux en mode développement.
      </p>

      <!-- logins -->
      <div ng-show="$ctrl.vm.usersLogins.length > 0" layout-xs="column" layout>
        <label flex flex-gt-xs="none">Compte&nbsp;:&nbsp;</label>
        <ui-select
          flex
          flex-gt-xs="50"
          ng-model="$ctrl.vm.selectedLogin"
          search-enabled="false">
          <ui-select-match  
            class="ui-select-match"
            placeholder="Choisissez votre compte">
            {{$select.selected.label}}
          </ui-select-match>
          <ui-select-choices 
            class="ui-select-choices"
            repeat="option.login as option in $ctrl.vm.usersLogins">
            <div><strong>{{option.label}}</strong></div>
            <small>{{option.description}}</small>
          </ui-select-choices>
        </ui-select>
      </div>

      <p ng-if="$ctrl.vm.usersLogins.length == 0">Aucun compte disponible</p>

      <!-- toolbar -->
      <pm-form-submit-toolbar>
        <md-button pm-form-submit-button
                   ng-show="$ctrl.vm.usersLogins.length > 0
                           && $ctrl.vm.selectedLogin !== undefined"
                   type="submit">
          Connexion
        </md-button>

        <md-button  pm-form-submit-button
                    ng-show="$ctrl.vm.isConnected === true"
                    ng-click="$ctrl.vm.cancel()">
          Annuler
        </md-button>
      </pm-form-submit-toolbar>

    </pm-form>
  </md-card>
</div>