<!--<md-card layout-padding>
  <h2>Page d'accueil de l'espace connecté</h2>  
  
  <p>Pour cette première phase de recette, seuls les menus Paramètres et Droits sont actifs, pour les admins uniquement.</p>
  <p>Vous pouvez changer votre rôle en cliquant dans le menu de gauche dans la partie nom, profil, établissement.</p>
</md-card>-->


<!-- Carousel -->

<!-- Fin Carousel-->


<!-- Testimonials -->
<div class="testimonials-section">
    <div class="testimonials-container" layout-gt-xs="row" flex layout-margin>
        <div class="testimonials-picture-container"  flex-gt-xs="25">
            <img class="testimonial-picture" src="{{$ctrl.vm.arrayTestimonial[0].src}}" />
        </div>
        <div class="testimonials-text" layout-gt-xs="75">
            <!--<span class="quote-left ion-quote"></span><span class="quote-right ion-quote"></span>-->
            <!--<div class="testimonials-text-content blockquote">-->
            <div class="testimonials-text-content">
                J'avais besoin de quelqu'un pour créer un site d'e-commerce. Je l'ai trouvé en moins de 2 jours ! 
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>