<div ng-if="$ctrl.vm.canDisplayView">
    <md-content class="md-padding" layout="column" id="list_project">
        <md-card ng-repeat="project in $ctrl.vm.projects">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead">Categories</span>
                    <span class="md-headline" ng-bind-html="project.title"></span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-md card-media">
                        <img src="{{project.image}}" alt="{{project.title}}"/>
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <p ng-bind-html="project.description"></p>
            </md-card-content>
        </md-card>
    </md-content>
</div>


<md-button ng-link="['Core.project', {action: 'create', projectId: '-'}]">
    <md-icon md-svg-icon="isa:new-project" aria-label="Créer un projet"></md-icon>
    Créer un projet
</md-button>
<md-button ng-link="['Core.project', {action: 'read', projectId: '-'}]">
    <md-icon md-svg-icon="isa:new-project" aria-label="Créer un projet"></md-icon>
    Afficher un projet
</md-button>

<md-button ng-link="['Core.project', {action: 'coucou', projectId: '-'}]">
    <md-icon md-svg-icon="isa:new-project" aria-label="Créer un projet"></md-icon>
    Erreur d'un projet
</md-button>