<div ng-if="$ctrl.vm.canDisplayView">
    <h1>Page introuvable</h1>
    <p>La page que vous souhaitez afficher n'existe pas.</p>
    <p><a ng-link="['Core.home']">Revenir à l'accueil</a></p>

    <h4>Informations techniques</h4>
    <ul class="md-caption">
        <li>Type d'erreur&nbsp;: 404</li>
        <li>Code d'erreur&nbsp;: 404</li>
        <li>Url demandée&nbsp;: {{::$ctrl.vm.lastRequestedUrl}}</li>
        <li>Date et heure de l'erreur&nbsp;: {{::$ctrl.vm.errorDate| pmCommonDatetimeFilter:'shortDateTime'}}</li>
        <li>Timestamp de l'erreur&nbsp;: {{::$ctrl.vm.errorDate| pmCommonDatetimeFilter:'timestamp'}}</li>
    </ul>
</div>