<md-toolbar class="pm-tootlbar md-hue-2" md-whiteframe="2">
    <div class="md-toolbar-tools">
        <md-button ng-if="$ctrl.vm.isConnected" ng-click="$ctrl.vm.toggleSidenav()" hide-gt-sm class="md-icon-button" aria-label="Affiche la barre de navigation">
            <md-icon md-svg-icon="layout:menu" aria-label="Menu"></md-icon>
        </md-button>
        <span flex hide-gt-sm></span>
        <h1>
            <a ng-link="['Core.home']">Project Market</a>
        </h1>
        <span flex></span>
        <div hide show-gt-sm layout="row" layout-align="center center">
            <md-button aria-label="S'inscrire" ng-click="$ctrl.vm.signup()">
                <md-icon md-svg-icon="layout:signup" aria-label="S'inscrire"></md-icon>
                S'inscrire
            </md-button>
            <md-button ng-if="!$ctrl.vm.isConnected" aria-label="Se connecter" ng-click="$ctrl.vm.signin()">
                <md-icon md-svg-icon="layout:login" aria-label="Se connecter"></md-icon>
                Se connecter
            </md-button>
            <md-button ng-if="$ctrl.vm.isConnected" aria-label="Se déconnecter" ng-click="$ctrl.vm.signout()">
                <md-icon md-svg-icon="layout:logout" aria-label="Se déconnecter"></md-icon>
                <md-tooltip>Se déconnecter</md-tooltip>
            </md-button>
        </div>
        <md-menu md-menu-origin md-position-mode="target-right bottom" hide-gt-sm>
            <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Ouvre le menu">
                <md-icon md-svg-icon="layout:dots-vertical" aria-label="Menu"></md-icon>
            </md-button>
            <md-menu-content md-menu-align-target hide-gt-sm>
                <md-menu-item>
                    <md-button aria-label="S'inscrire" ng-click="$ctrl.vm.signup()">
                        <md-icon md-svg-icon="layout:signup" aria-label="S'inscrire"></md-icon>
                        S'inscrire
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-if="!$ctrl.vm.isConnected" >
                    <md-button aria-label="Se connecter" ng-click="$ctrl.vm.signin()">
                        <md-icon md-svg-icon="layout:login" aria-label="Se connecter"></md-icon>
                        Se connecter
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-if="$ctrl.vm.isConnected" >
                    <md-button aria-label="Se déconnecter" ng-click="$ctrl.vm.signout()">
                        <md-icon md-svg-icon="layout:logout" aria-label="Se déconnecter"></md-icon>
                        Se déconnecter
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>

<!--<div class="pm-container" layout="row" flex>
  <md-sidenav ng-if="$ctrl.vm.isConnected" class="pm-sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"  md-whiteframe="1">
    <md-toolbar class="pm-profile md-hue-1" flex="none">
      <pm-profile layout="column"></pm-profile>
    </md-toolbar>

    <md-content>
      <ul class="pm-menu">
        <li ng-show="$ctrl.vm.isAllowedAccessToComponents['pm.core.homeComponent']">
        <md-button ng-link="['Core.home']" ng-class="{'active' : $ctrl.vm.selectedModule === 'xxx'}">
          <md-icon md-svg-icon="edt"></md-icon>
          <span>Emploi du temps</span>
        </md-button>
        <md-divider></md-divider>
        </li>
        <li ng-show="$ctrl.vm.isAllowedAccessToComponents['pm.core.homeComponent']">
        <md-button ng-link="['Core.home']" ng-class="{'active' : $ctrl.vm.selectedModule === 'xxx'}">
          <md-icon md-svg-icon="cdt"></md-icon>
          <span>Cahier de texte</span>
        </md-button>
        <md-divider></md-divider>
        </li>
        <li ng-show="$ctrl.vm.isAllowedAccessToComponents['pm.core.homeComponent']">
        <md-button ng-link="['Core.home']" ng-class="{'active' : $ctrl.vm.selectedModule === 'xxx'}">
          <md-icon md-svg-icon="todo"></md-icon>
          <span>Travail à faire</span>
        </md-button>
        <md-divider></md-divider>
        </li>
        <li ng-show="$ctrl.vm.isAllowedAccessToComponents['pm.core.homeComponent']">
        <md-button ng-link="['Core.home']" ng-class="{'active' : $ctrl.vm.selectedModule === 'xxx'}">
          <md-icon md-svg-icon="ged"></md-icon>
          <span>Gestion documentaire</span>
        </md-button>
        <md-divider></md-divider>
        <li ng-show="$ctrl.vm.isAllowedAccessToComponents['pm.core.homeComponent']">
        <md-button ng-link="['Core.home']" ng-class="{'active' : $ctrl.vm.selectedModule === 'xxx'}">
          <md-icon md-svg-icon="gdg"></md-icon>
          <span>Gestion des groupes</span>
        </md-button>
        <md-divider></md-divider>
        </li>
        <li ng-show="$ctrl.vm.isAllowedAccessToComponents['pm.admin.settings.homeComponent']">
        <md-button ng-link="['Admin.settings.home']" ng-class="{'active' : $ctrl.vm.selectedModule === 'admin.settings'}">
          <md-icon md-svg-icon="settings"></md-icon>
          <span>Paramètres</span>
        </md-button>
        <md-divider></md-divider>
        </li>
        <li ng-show="$ctrl.vm.isAllowedAccessToComponents['pm.admin.permissionsComponent']">
        <md-button ng-link="['Admin.permissions']" ng-class="{'active' : $ctrl.vm.selectedModule === 'admin.permissions'}">
          <md-icon md-svg-icon="permissions"></md-icon>
          <span>Droits</span>
        </md-button>
        <md-divider></md-divider>
        </li>
        <li ng-show="$ctrl.vm.isAllowedAccessToComponents['pm.admin.userSchoolRolesComponent']">
        <md-button ng-link="['Admin.userSchoolRoles']" ng-class="{'active' : $ctrl.vm.isSelected('/admin/roles')}">
          <md-icon md-svg-icon="roles"></md-icon>
          <span>Rôles</span>
        </md-button>
        <md-divider></md-divider>
        </li>
      </ul>
    </md-content>
  </md-sidenav>-->

<ng-outlet>
    Contenu du composant enfant
</ng-outlet>

<footer>
    <a ng-click="showDialogContact($event)">Contactez-nous !</a>
    <a href="#/legal-notice">Mentions légales</a>
    <div>Project Market - © RPBF S.A.S.</div>
</footer>
</div>