<md-toolbar class="pm-tootlbar md-hue-2" md-whiteframe="2">
    <div class="md-toolbar-tools">
        <md-button ng-if="$ctrl.vm.isConnected" ng-click="$ctrl.vm.toggleSidenav()" hide-gt-sm class="md-icon-button" aria-label="Affiche la barre de navigation">
            <md-icon md-svg-icon="layout:menu" aria-label="Menu"></md-icon>
        </md-button>
        <span flex hide-gt-sm></span>
        <h1>
            <a ng-link="['Core.home']">Project Market</a>
        </h1>
        <span flex></span>
        <div hide show-gt-sm layout="row" layout-align="center center">
            <md-button ng-if="!$ctrl.vm.isConnected" aria-label="S'inscrire" ng-click="$ctrl.vm.signup()">
                <md-icon md-svg-icon="layout:signup" aria-label="S'inscrire"></md-icon>
                S'inscrire
            </md-button>
            <md-button ng-if="!$ctrl.vm.isConnected" aria-label="Se connecter" ng-click="$ctrl.vm.signin()">
                <md-icon md-svg-icon="layout:login" aria-label="Se connecter"></md-icon>
                Se connecter
            </md-button>
            <md-button ng-if="$ctrl.vm.isConnected" aria-label="Mon compte" ng-link="['Core.user', {userId: $ctrl.vm.user.userId}]">
                <md-icon md-svg-icon="avatars:svg-1" aria-label="Mon compte"></md-icon>
                Mon compte
            </md-button>
            <md-button ng-if="$ctrl.vm.isConnected" aria-label="Se déconnecter" ng-click="$ctrl.vm.signout()">
                <md-icon md-svg-icon="layout:logout" aria-label="Se déconnecter"></md-icon>
                Se déconnecter
            </md-button>
        </div>
        <md-menu md-menu-origin md-position-mode="target-right bottom" hide-gt-sm>
            <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Ouvre le menu">
                <md-icon md-svg-icon="layout:dots-vertical" aria-label="Menu"></md-icon>
            </md-button>
            <md-menu-content md-menu-align-target hide-gt-sm>
                <md-menu-item>
                    <md-button ng-if="!$ctrl.vm.isConnected" aria-label="S'inscrire" ng-click="$ctrl.vm.signup()">
                        <md-icon md-svg-icon="layout:signup" aria-label="S'inscrire"></md-icon>
                        S'inscrire
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-if="!$ctrl.vm.isConnected" >
                    <md-button aria-label="Se connecter" ng-click="$ctrl.vm.signin()">
                        <md-icon md-svg-icon="layout:login" aria-label="Se connecter"></md-icon>
                        Se connecter
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-if="$ctrl.vm.isConnected">
                    <md-button aria-label="Mon compte" ng-link="['Core.user', {userId: $ctrl.vm.user.userId}]">
                        <md-icon md-svg-icon="avatars:svg-1" aria-label="Mon compte"></md-icon>
                        Mon compte
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-if="$ctrl.vm.isConnected" >
                    <md-button aria-label="Se déconnecter" ng-click="$ctrl.vm.signout()">
                        <md-icon md-svg-icon="layout:logout" aria-label="Se déconnecter"></md-icon>
                        Se déconnecter
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>

<ng-outlet>
    Contenu du composant enfant
</ng-outlet>

<footer>
    <a ng-click="showDialogContact($event)">Contactez-nous !</a>
    <a href="#/legal-notice">Mentions légales</a>
    <div>Project Market - © RPBF S.A.S.</div>
</footer>
</div>