<!-- *** Formulaire CREATE | DUPLICATE | UPDATE *** -->
<md-card ng-if="$ctrl.vm.canDisplayView && $ctrl.vm.formAction !== 'read'" layout-padding layout>

  <!-- ** PeriodType ** -->
  <pm-form name="$ctrl.vm.ngForm.PeriodType" ng-submit="$ctrl.vm.save()" flex layout="column">

    <!-- titre du form -->
    <pm-form-title>
      <span ng-if="$ctrl.vm.formAction === 'create'">Création d'un groupe de périodes</span>
      <span ng-if="$ctrl.vm.formAction === 'update'">Modification d'un groupe de périodes</span>

      <pm-help>
        <p>Les groupes de périodes (trimestres, semestres...) permettent de faciliter la saisie de séances récurrentes dans l'agenda.</p>
        <p>On pourra indiquer par exemple qu'un cours a lieu jusqu'à la fin du premier semestre
          ou qu'il se déroulera les deuxième et troisième trimestres.</p>
        <p><em>Les groupes de périodes ne sont pas obligatoires pour utiliser Isa.</em></p>
      </pm-help>
    </pm-form-title>

    <!-- * validations * -->
    <!-- back : erreurs globales -->
    <div ng-messages="$ctrl.vm.ngForm.PeriodType.pmFormBackValidation.errors" ng-messages-multiple class="pm-form-back-global-validation-messages">
      <div ng-messages-include="pm-back-global-validation-messages"></div>
    </div>


    <pm-form-group-title>Groupe de périodes</pm-form-group-title>

    <!-- ** PeriodType.name ** -->
    <!-- champ -->
    <md-input-container>
      <label>Nom</label>
      <input name="name" ng-model="$ctrl.vm.periodType.name.value" 
             ng-required="true" ng-minlength="$ctrl.vm.periodType.name.minLength" md-maxlength="$ctrl.vm.periodType.name.maxLength" pm-form-validate-back>

      <!-- exemples -->
      <pm-form-field-example>Trimestres, Semestres, Périodes SEGPA...</pm-form-field-example>

      <!-- * validations * -->
      <!-- front -->
      <div ng-messages="$ctrl.vm.ngForm.PeriodType.name.$error" ng-messages-multiple
           class="pm-form-front-validation-messages">
        <div ng-message="required">Le nom du groupe de périodes est obligatoire.</div>
        <div ng-message="minlength">Le nom du groupe de périodes doit compter au minimum {{$ctrl.vm.periodType.name.minLength}}
          {{$ctrl.vm.periodType.name.minLength, plural, offset:0
                =1 {caractère.}
            other {caractères.}
          }}
        </div>
        <div ng-message="md-maxlength">Le nom du groupe de périodes doit compter au maximum {{$ctrl.vm.periodType.name.maxLength}}
          {{$ctrl.vm.periodType.name.maxLength, plural, offset:0
                =1 {caractère.}
            other {caractères.}
          }}
        </div>
        <div ng-messages-include="pm-front-generic-validation-messages"></div>
      </div>
      <!-- back -->
      <div ng-messages="$ctrl.vm.ngForm.PeriodType.name.pmFormBackValidation.errors" ng-messages-multiple
           class="pm-form-back-validation-messages">
        <div ng-message="null">Le nom du groupe de périodes est obligatoire.</div>
        <div ng-message="bad-length">Le nom du groupe de périodes doit compter entre
          {{$ctrl.vm.ngForm.PeriodType.name.pmFormBackValidation.params['bad-length'][0].minLength}} et
          {{$ctrl.vm.ngForm.PeriodType.name.pmFormBackValidation.params['bad-length'][0].maxLength}}
          {{$ctrl.vm.ngForm.PeriodType.name.pmFormBackValidation.params['bad-length'][0].maxLength, plural, offset:0
                =1 {caractère.}
            other {caractères.}
          }}
        </div>
        <div ng-message="not-unique">Ce nom du groupe de périodes existe déjà pour cette année scolaire.</div>
        <div ng-messages-include="pm-back-validation-messages"></div>
      </div>
    </md-input-container>


    <!-- ** PeriodType.periods ** -->
    <md-content md-whiteframe="1" layout-padding layout flex>
      <pm-form-group name="periods" flex>

        <pm-form-group-title>
          Périodes
          <pm-help>
            <p>Vous devez configurer un minimum une période. Il n'y a pas de maximum.</p>
            <p>Les périodes doivent être incluses dans l'année en cours, être dans l'ordre chronologique et contiguës.</p>
          </pm-help>
        </pm-form-group-title>

        <!-- * validations * -->
        <!-- back -->
        <div ng-messages="$ctrl.vm.ngForm.PeriodType.periods.pmFormBackValidation.errors" ng-messages-multiple
             class="pm-form-back-validation-messages" >
          <div ng-message="null">Au minimum une période est obligatoire.</div>
          <div ng-message="non-contigous-periods">Les périodes doivent être dans l'ordre chronologique et contigues.</div>
          <div ng-message="periodname-not-unique">Les périodes doivent avoir un nom unique.</div>
          <div ng-message="one-new-periodidentifier-is-invalid">Un des identifiants de période est invalide.</div>
          <div ng-message="one-actual-periodidentifier-is-missing">Un des identifiants de période nécessaire à la mise à jour est manquant.</div>
          <div ng-messages-include="pm-back-validation-messages"></div>
        </div>

        <pm-action-group layout="column">
          <md-content class="pm-period" ng-repeat="period in $ctrl.vm.periods" md-whiteframe="1" layout-padding>

            <!-- ** PeriodType.periods[$index] ** -->
            <pm-form-group name="{{$index}}" layout="column" flex>

              <!-- numéro de période + suppression de période -->
              <div layout="row" flex layout-align="start center">
                <pm-action-group-select pm-options-id="$index" pm-options-actions="{delete: $ctrl.vm.periods[$index].canDelete}">Période n°{{$index + 1}}</pm-action-group-select>
                <div flex>Période n°{{$index + 1}}</div>
                <md-button ng-if="$ctrl.vm.periods[$index].canDelete" ng-click="$ctrl.vm.deletePeriods([$index])" class="md-icon-button">
                  <md-icon md-svg-icon="action:delete"></md-icon>
                </md-button>
              </div>

              <!-- * validations * -->
              <!-- back -->
              <div ng-messages="$ctrl.vm.ngForm.PeriodType.periods[$index].pmFormBackValidation.errors" ng-messages-multiple class="pm-form-back-validation-messages" >
                <div ng-message="chronological-order-dates">Les dates de début et de fin doivent être dans l'ordre chronologique.</div>
                <div ng-messages-include="pm-back-validation-messages"></div>
              </div>

              <div layout="row" flex layout-wrap>

                <!-- ** PeriodType.periods[$index].name ** -->
                <!-- champ -->
                <md-input-container flex="noshrink">
                  <label>Nom</label>
                  <input name="name"ng-model="$ctrl.vm.periods[$index].name.value" 	
                         ng-required="true" ng-minlength="$ctrl.vm.periods[$index].name.minLength" md-maxlength="$ctrl.vm.periods[$index].name.maxLength" 
                         pm-form-validate-back>

                  <pm-form-field-example>T1, S1...</pm-form-field-example>

                  <!-- * validations * -->
                  <!-- front -->
                  <div ng-messages="$ctrl.vm.ngForm.PeriodType.periods[$index].name.$error" ng-messages-multiple class="pm-form-front-validation-messages" >
                    <div ng-message="required">Le nom de la période est obligatoire.</div>
                    <div ng-message="minlength">Le nom de la période doit compter au minimum {{$ctrl.vm.periods[$index].name.minLength}}
                      {{$ctrl.vm.periods[$index].name.minLength, plural, offset:0
                          =1 {caractère.}
                      other {caractères.}
                      }}
                    </div>
                    <div ng-message="md-maxlength">Le nom de la période doit compter au maximum {{$ctrl.vm.periods[$index].name.maxLength}}
                      {{$ctrl.vm.periods[$index].name.maxLength, plural, offset:0
                          =1 {caractère.}
                      other {caractères.}
                      }}
                    </div>
                    <div ng-messages-include="pm-front-generic-validation-messages"></div>
                  </div>
                  <!-- back -->
                  <div ng-messages="$ctrl.vm.ngForm.PeriodType.periods[$index].name.pmFormBackValidation.errors" ng-messages-multiple
                       class="pm-form-back-validation-messages" >
                    <div ng-message="null">Le nom de la période est obligatoire.</div>
                    <div ng-message="bad-length">Le nom de la période doit compter entre
                      {{$ctrl.vm.ngForm.PeriodType.periods[$index].name.pmFormBackValidation.params['bad-length'][0].minLength}} et 
                      {{$ctrl.vm.ngForm.PeriodType.periods[$index].name.pmFormBackValidation.params['bad-length'][0].maxLength}}
                      {{$ctrl.vm.ngForm.PeriodType.periods[$index].name.pmFormBackValidation.params['bad-length'][0].maxLength, plural, offset:0
                          =1 {caractère.}
                      other {caractères.}
                      }}
                    </div>
                    <div ng-messages-include="pm-back-validation-messages"></div>
                  </div>
                </md-input-container>

                <div layout="row" flex="noshrink" layout-wrap>

                  <!-- ** PeriodType.periods[$index].dateStart ** -->
                  <div layout="column" flex="noshrink">

                    <!-- champ -->
                    <md-datepicker name="dateStart"  ng-model="$ctrl.vm.periods[$index].dateStart.value"
                                   pm-label="Date de début" pm-example="25/12/2016"
                                   ng-disabled="!$ctrl.vm.periods[$index].dateStart.canEdit"
                                   ng-required="$ctrl.vm.periods[$index].dateStart.canEdit" 
                                   md-min-date="$ctrl.vm.periods[$index].dateStart.minDate" md-max-date="$ctrl.vm.periods[$index].dateStart.maxDate" pm-form-validate-back>
                    </md-datepicker>

                    <!-- * validations * -->
                    <!-- front -->
                    <div ng-messages="$ctrl.vm.ngForm.PeriodType.periods[$index].dateStart.$error" ng-messages-multiple
                         class="pm-form-front-validation-messages" >
                      <div ng-message="required">La date de début de la période est obligatoire.</div>
                      <div ng-message="mindate">La date de début de la période doit être égale ou ultérieure au 
                        {{$ctrl.vm.periods[$index].dateStart.minDate| pmCommonDatetimeFilter:'shortDate'}}.
                      </div>
                      <div ng-message="maxdate">La date de début de la période doit être antérieure ou égale au 
                        {{$ctrl.vm.periods[$index].dateStart.maxDate| pmCommonDatetimeFilter:'shortDate'}}.
                      </div>
                      <div ng-messages-include="pm-front-datetime-validation-messages"></div>
                      <div ng-messages-include="pm-front-generic-validation-messages"></div>
                    </div>

                    <!-- back -->
                    <div ng-if="$ctrl.vm.periods[$index].dateStart.canEdit" class="pm-form-back-validation-messages" 
                         ng-messages="$ctrl.vm.ngForm.PeriodType.periods[$index].dateStart.pmFormBackValidation.errors" ng-messages-multiple>
                      <div ng-message="null">La date de début de la période est obligatoire.</div>
                      <div ng-message="date-not-included-in-current-yearcontainer">La date de début de la période doit être comprise entre le
                        {{$ctrl.vm.ngForm.PeriodType.periods[$index].dateStart.pmFormBackValidation.params['date-not-included-in-current-yearcontainer'][0].minDate| pmCommonDatetimeFilter:'shortDate'}}
                        et le {{$ctrl.vm.ngForm.PeriodType.periods[$index].dateStart.pmFormBackValidation.params['date-not-included-in-current-yearcontainer'][0].maxDate| pmCommonDatetimeFilter:'shortDate'}}.
                      </div>
                      <div ng-messages-include="pm-back-validation-messages"></div>
                    </div>

                  </div>


                  <!-- ** PeriodType.periods.$index.dateEnd ** -->
                  <div layout="column" flex="noshrink">

                    <!-- champ -->
                    <md-datepicker name="dateEnd" ng-model="$ctrl.vm.periods[$index].dateEnd.value"
                                   pm-label="Date de fin" pm-example="06/02/2016"
                                   ng-required="$ctrl.vm.periods[$index].dateEnd.canEdit"
                                   md-min-date="$ctrl.vm.periods[$index].dateEnd.minDate" md-max-date="$ctrl.vm.periods[$index].dateEnd.maxDate" pm-form-validate-back>
                    </md-datepicker>

                    <!-- * validations * -->
                    <!-- front -->
                    <div ng-messages="$ctrl.vm.ngForm.PeriodType.periods[$index].dateEnd.$error" ng-messages-multiple>
                      <div ng-message="required">La date de fin de la période est obligatoire.</div>
                      <div ng-message="mindate">La date de fin de la période doit être égale ou ultérieure au 
                        {{$ctrl.vm.periods[$index].dateStart.minDate| pmCommonDatetimeFilter:'shortDate'}}.
                      </div>
                      <div ng-message="maxdate">La date de fin de la période doit être antérieure ou égale au 
                        {{$ctrl.vm.periods[$index].dateStart.maxDate| pmCommonDatetimeFilter:'shortDate'}}.
                      </div>
                      <div ng-messages-include="pm-front-datetime-validation-messages"></div>
                      <div ng-messages-include="pm-front-generic-validation-messages"></div>
                    </div>
                    <!-- back -->
                    <div ng-messages="$ctrl.vm.ngForm.PeriodType.periods[$index].dateEnd.pmFormBackValidation.errors"class="pm-form-back-validation-messages" >
                      <div ng-message="null">La date de fin de la période est obligatoire.</div>
                      <div ng-message="date-not-included-in-current-yearcontainer">La date de fin de la période doit être comprise entre le
                        {{$ctrl.vm.ngForm.PeriodType.periods[$index].dateEnd.pmFormBackValidation.params['date-not-included-in-current-yearcontainer'][0].minDate| pmCommonDatetimeFilter:'shortDate'}}
                        et le {{$ctrl.vm.ngForm.PeriodType.periods[$index].dateEnd.pmFormBackValidation.params['date-not-included-in-current-yearcontainer'][0].maxDate| pmCommonDatetimeFilter:'shortDate'}}.</div>
                      <div ng-messages-include="pm-back-validation-messages"></div>
                    </div>

                  </div>
                </div>
              </div>
            </pm-form-group>
          </md-content>
          <pm-action-group-bar layout-margin>
            <md-button ng-click="$ctrl.vm.deletePeriods(getSelectedIds())" pm-action-group-bar-action="delete" class="md-raised">
              <md-icon 
                md-menu-align-target
                md-svg-icon="action:delete">
              </md-icon>
              Supprimer
            </md-button>
          </pm-action-group-bar>
        </pm-action-group>

        <md-button ng-if="$ctrl.vm.isAllowedAddPeriod" ng-click="$ctrl.vm.addPeriod()" class="md-raised" >
          <md-icon md-svg-icon="action:create"></md-icon>
          Ajouter une période
        </md-button>
      </pm-form-group>
    </md-content>

    <!-- toolbar -->
    <pm-form-submit-toolbar>
      <md-button pm-form-submit-button ng-click="$ctrl.vm.cancel()">
        <md-icon md-svg-icon="action:cancel"></md-icon>
        Annuler
      </md-button>

      <md-button pm-form-submit-button type="submit" ng-disabled="!$ctrl.vm.ngForm.PeriodType.$valid || $ctrl.vm.isSaving">
        <md-icon md-svg-icon="{{'action:' + $ctrl.vm.formAction}}"></md-icon>
        <span ng-if="$ctrl.vm.formAction === 'create'">Créer</span>
        <span ng-if="$ctrl.vm.formAction === 'update'">Modifier</span>
      </md-button>

    </pm-form-submit-toolbar>

  </pm-form>
</md-card>



<!-- Affichage READ  -->

<md-card ng-if="$ctrl.vm.canDisplayView && $ctrl.vm.formAction === 'read'" layout-margin>
  <pm-read>
    <pm-read-title>Affichage d'un groupe de périodes</pm-read-title>
    <pm-read-group>
      <p><pm-read-field-name>Nom du groupe de périodes</pm-read-field-name> {{$ctrl.vm.periodType.name.value}}</p>
    </pm-read-group>
    <pm-read-group>
      <pm-read-group-title>Périodes</pm-read-group-title>
      <p ng-repeat="period in $ctrl.vm.periods">
      <pm-read-field-name>{{period.name.value}}</pm-read-field-name>
      du {{period.dateStart.value| pmCommonDatetimeFilter:'longDate'}} au {{period.dateEnd.value| pmCommonDatetimeFilter:'longDate'}}
      </p>
    </pm-read-group>
    <pm-read-actions>
      <md-button ng-click="$ctrl.vm.navigate('home')" class="md-raised">
        <md-icon md-svg-icon="action:return"></md-icon>
        Retour
      </md-button>    
      <md-button ng-if="$ctrl.vm.isAllowedUpdate" ng-click="$ctrl.vm.navigate('update')" class="md-raised">
        <md-icon md-svg-icon="action:update"></md-icon>
        Modifier
      </md-button>
    </pm-read-actions>
  </pm-read>
</md-card>