<div ng-if="$ctrl.vm.canDisplayView && $ctrl.vm.formAction !== 'read'" layout-padding layout-margin>
    <form name="formProject" flex layout="column">
        <md-input-container>
            <label>Titre</label>
            <input name="title" ng-model="$ctrl.vm.project.title"
                   type="text" required ng-minlength="3" md-maxlength="100">
            <div ng-messages="formProject.title.$error"
                 ng-show="formProject.title.$touched"
                 class="pm-front-validation-messages">
                <div ng-message="required">Un titre est requis.</div>
                <div ng-message="minlength">Le titre du projet doit contenir au minimum 3 caractères.</div>
                <div ng-message="md-maxlength">Le titre du projet doit contenir au maximun 20 caractères.</div>
            </div>
        </md-input-container>

        <div ng-if="$ctrl.vm.project.image !== undefined">
            <img ng-src="{{$ctrl.vm.project.image}}" class="project_image"/>
        </div>

        <md-input-container ng-if="$ctrl.vm.formAction === 'create' || ($ctrl.vm.project.isMine && !$ctrl.vm.project.isStarted)">
            <md-button class="md-primary md-raised" ngf-select="$ctrl.vm.uploadFiles($files)" title="upload" resetOnClick="true" >Upload</md-button>
        </md-input-container>

        <md-input-container>
            <label>Description</label>
            <input name="description" ng-model="$ctrl.vm.project.description"
                   type="textarea" required ng-minlength="10" md-maxlength="250">
            <div ng-messages="formProject.description.$error"
                 ng-show="formProject.description.$touched"
                 class="pm-front-validation-messages">
                <div ng-message="required">Une description est requise.</div>
                <div ng-message="minlength">La description du projet doit contenir au minimum 10 caractères.</div>
                <div ng-message="md-maxlength">La description du projet doit contenir au maximun 250 caractères.</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>Catégorie</label>
            <md-select name="category" ng-model="$ctrl.vm.project.categoryId" required>
                <md-option ng-repeat="category in $ctrl.vm.project.category.data"
                           ng-value="category.id">
                    {{category.name}}
                </md-option>
            </md-select>
            <div ng-messages="formProject.category.$error"
                 ng-show="formProject.description.$touched"
                 class="pm-front-validation-messages">
                <div ng-message="required">Une catégorie est requise.</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>Budget estimé</label>
            <input type="number"
                   name="budget" ng-model="$ctrl.vm.project.budget"
                   required min="0">
            <div ng-messages="formProject.budget.$error"
                 ng-show="formProject.budget.$touched"
                 class="pm-front-validation-messages">
                <div ng-message="required">Un budget est requis.</div>
                <div ng-message="min">Un budget ne peut être négatif.</div>
            </div>
        </md-input-container>

        <div layout="row" layout-align="center center">
            <md-button type="submit" class="md-primary md-raised"
                       ng-if="$ctrl.vm.formAction === 'create'"
                       ng-disabled="!formProject.$valid"
                       ng-click="$ctrl.vm.create()">
                Créer
            </md-button>
            <md-button type="submit" class="md-primary md-raised"
                       ng-if="$ctrl.vm.formAction === 'update'"
                       ng-disabled="!formProject.$valid"
                       ng-click="$ctrl.vm.update()">
                Modifier
            </md-button>
        </div>
    </form>
</div>

<div ng-if="$ctrl.vm.canDisplayView && $ctrl.vm.formAction === 'read'" layout-padding layout-margin>
    <article class="structure">
        <div class="project_content">
            <!-- INFOS AUTHOR PROJECT -->
            <div class="author_part">
                <div class="profil_part" style="text-align:center;" ng-if="$ctrl.vm.project.moa.type === 'user'">
                    <a class="pseudo" ng-link="['Core.user', {userId: $ctrl.vm.project.moa.id}]"
                       ng-bind-html="$ctrl.vm.project.moa.lastName + '&nbsp;' + $ctrl.vm.project.moa.firstName"></a>
                    <div style="background:url({{$ctrl.vm.project.moa.avatar}});background-size:100% 100%;display:inline-block;width:100px;height:100px;border-radius:50px;">
                    </div>
                </div>
                <div class="profil_part" ng-if="$ctrl.vm.project.moa.type === 'society'">
                    <a class="pseudo" ng-link="['Core.society', {userId: $ctrl.vm.project.moa.id}]"
                       ng-bind-html="$ctrl.vm.project.moa.legalname"></a>
                    <div class="md-media-sm">
                        <img ng-src="{{$ctrl.vm.project.moa.avatar}}"
                             alt="{{$ctrl.vm.project.moa.legalname}}" class="avatar"/>
                    </div>
                </div>
                <div class="option_part">
                    <!-- FIXME: Ajouter l'image dont la source est $ctrl.vm.project.moa.avatar -->
                </div>
            </div>
            <!-- INFOS PROJECT -->
            <div class="project_details_part">
                <div layout-margin>
                    <p class="md-subhead" style="color: grey;" ng-bind-html="$ctrl.vm.project.category.value"></p>
                </div>
                <div class="project_title_part">
                    <div class="project_postulate">
                        <div ng-if="$ctrl.vm.project.isOver">
                            PROJET TERMINÉ
                        </div>
                        <md-button class="md-primary md-raised button_postulate"
                                   ng-if="!$ctrl.vm.project.isMine && $ctrl.vm.project.canPostulate"
                                   ng-click="$ctrl.vm.postulate()">
                            Postuler
                        </md-button>
                        <md-button class="md-warn md-raised button_postulate"
                                   ng-if="!$ctrl.vm.project.isMine && !$ctrl.vm.project.canPostulate && !$ctrl.vm.project.isStarted"
                                   ng-click="$ctrl.vm.unpostulate()">
                            Supprimer ma candidature
                        </md-button>
                        <md-button class="md-primary md-raised"
                                   ng-if="$ctrl.vm.project.isMine && $ctrl.vm.project.isStarted && !$ctrl.vm.project.isOver"
                                   ng-click="$ctrl.vm.endProject()">
                            Terminer
                        </md-button>
                        <md-button class="md-accent md-raised" ng-if="$ctrl.vm.project.isMine && !$ctrl.vm.project.isStarted"
                                   ng-link="['Core.project', {action: 'update', projectId: $ctrl.vm.project.id}]">
                            Modifier
                        </md-button>
                        <md-button class="md-warn md-raised"
                                   ng-if="$ctrl.vm.project.isMine && !$ctrl.vm.project.isStarted"
                                   ng-click="$ctrl.vm.delete()">
                            Supprimer
                        </md-button>
                    </div>
                    <div class="title_part">
                        <h1 ng-bind-html="$ctrl.vm.project.title"></h1>
                        <p class="date_project">
                            Créé le {{$ctrl.vm.project.date_created}}<!-- TODO : Ajouter date de création -->
                        </p>
                        <p class="date_project">
                            Dernière modification le {{$ctrl.vm.project.date_lastUpdated}}
                        </p>
                    </div>
                </div>

                <div class="project_content_part">
                    <div class="image_part">
                        <div class="image_part_contener">
                            <div class="md-media-sm">
                                <img ng-src="{{$ctrl.vm.project.image}}" alt="{{$ctrl.vm.project.title}}" class="project_image"/>
                            </div>
                            <!-- TODO : Ajouter balise img -->
                            <div class="project_budget">
                                <p ng-bind-html="$ctrl.vm.project.budget + '&nbsp;€'"></p>
                            </div>
                        </div>
                    </div>
                    <div class="content_part">
                        <p class="description" ng-bind-html="$ctrl.vm.project.description"></p>
                    </div>
                </div>
                <md-divider ng-if="$ctrl.vm.project.appliants.length > 0 && $ctrl.vm.project.isMine"></md-divider>
                <div ng-if="$ctrl.vm.project.appliants.length > 0 && $ctrl.vm.project.isMine" flex>
                    <div flex>Liste des entreprises postulant à votre projet</div>
                    <div ng-repeat="appliant in $ctrl.vm.project.appliants" flex="75">
                        <a class="pseudo" ng-link="['Core.society', {userId: appliant.id}]"
                           ng-bind-html="appliant.legalname"></a>
                        <div class="md-media-sm">
                            <img ng-src="{{appliant.avatar}}"
                                 alt="{{appliant.legalname}}" class="avatar"/>
                        </div>
                    </div>
                    <div>
                        <md-button class="md-primary md-raised"
                                   ng-if="!$ctrl.vm.project.isStarted && $ctrl.vm.project.appliants.length > 0"
                                   ng-click="$ctrl.vm.choiceMoe()">
                            Choisir l'entreprise pour le projet
                        </md-button>
                    </div>
                </div>
                <div ng-if="$ctrl.vm.project.isStarted">
                    <md-divider></md-divider>
                    Entreprise réalisant ce projet
                    <a class="pseudo" ng-link="['Core.society', {userId: $ctrl.vm.project.moe.id}]"
                       ng-bind-html="$ctrl.vm.project.moe.legalname"></a>
                    <div>
                        <img ng-src="{{$ctrl.vm.project.moe.avatar}}"
                             alt="{{$ctrl.vm.project.moe.legalname}}" class="avatar"/>
                    </div>
                </div>
                <div ng-if="$ctrl.vm.project.canEdit">
                    <md-divider></md-divider>
                    <md-input-container>
                        <input type="button" value="Upload" ng-click="$ctrl.vm.showPicker()"/>
                    </md-input-container>
                </div>
            </div>
        </div>

        <div class="project_document_content">
            <!-- TODO : Ajouter fichiers -->
        </div>
    </article>
</div>
