// Taille des icônes
// --------------------------

.#{$icon-css-prefix}-lg {
    font-size: (4em / 3);
    line-height: (3em / 4);
    vertical-align: -15%;
}
@for $i from 1 through 5 {
    .#{$icon-css-prefix}-#{$i}x {
        font-size: #{$i}em;
    }
}


// Animation des icônes
// --------------------------

// rotation lisse
.#{$icon-css-prefix}-spin {
    @include vendor-property('animation', '#{$icon-css-prefix}-spin 2s infinite linear');
}

// rotation par à-coup
.#{$icon-css-prefix}-pulse {
    @include vendor-property('animation', '#{$icon-css-prefix}-spin 1s infinite steps(8)');
}

// déroulement des animations
@include vendor-keyframes(#{$icon-css-prefix}-spin) {
    0% {
        @include vendor-property('transform', 'rotate(0deg)'); 
    }
    100% {
        @include vendor-property('transform', 'rotate(359deg)'); 
    }
};


// Icônes pivotées ou renversées
// --------------------------

// rotation de 90°, 180° ou 270°
$angles-list: 90, 180, 270;
@each $angle in $angles-list {
    .#{$icon-css-prefix}-rotate-#{$angle}  {
        @include rotate($angle);

        // Hook IE8 & IE9
        :root & {
            filter: none;
        }
    }
}

// miroir horizontal ou vertical
$flip-list: 'horizontal', 'vertical';
@each $flip in $flip-list {
    .#{$icon-css-prefix}-flip-#{$flip}  {
        @include flip($flip);

        // Hook IE8 & IE9
        :root & {
            filter: none;
        }
    }
}