// fix bordure décalée des champs input désactivés
md-input-container .md-input[disabled],
[disabled] md-input-container .md-input {
  border-bottom-width: 0;
  padding-bottom: 2px;
}

// Refont des propriétés CSS du md-datepicker en s'inspirant du md-input-container
md-datepicker {
  margin: 18px 0;
  padding: 2px 0;

  display: inline-block;
  position: relative;
  overflow: visible;
}

.md-datepicker-button {
  float: left;
}

.md-datepicker-input-container {
  border-bottom-width: 0px;
  padding-bottom: 0px;
  float: left;
  margin-left: 0;
  padding-left: 12px;
}

md-datepicker label {
  order: 1;
  padding-left: 3px;
  padding-right: 0;
  pointer-events: none;

  color: rgba(0, 0, 0, 0.26);

  bottom: 100%;
  left: 9px;
  position: absolute;
  right: auto;

  transform: translate3d(0px, 26px, 0px) scale(1);
  transform-origin: left top 0;
  transition: transform 0.25s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
md-datepicker.md-datepicker-focused label, md-datepicker.md-datepicker-has-value label {
  transform: translate3d(0px, 4px, 0px) scale(0.75);
}
md-datepicker.md-datepicker-has-value label {
  color: rgba(0, 0, 0, 0.54);
}
md-datepicker.md-datepicker-focused label {
  color: rgb(121, 85, 72);
}
md-datepicker.md-datepicker-focused .md-datepicker-invalid label {
  color: rgb(255, 109, 0);
}

.md-datepicker-input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 1px;
  box-sizing: border-box;
  height: 30px;
  line-height: 26px;
  margin-top: 0;
  order: 2;
  padding: 2px 2px 1px;
  width: 100%;
}
md-datepicker[disabled] .md-datepicker-input {
  color: rgba(0, 0, 0, 0.26);
  border-bottom-color: transparent;
}

.md-datepicker-triangle-button.md-button.md-icon-button {
  height: 36px;
  margin-top: 6px;
}

md-datepicker[disabled] .pm-form-field-example {
  display: none;
}

.md-datepicker-input-container.md-datepicker-focused {
  border-bottom-width: 0px;
}
.md-datepicker-input-container.md-datepicker-focused .md-datepicker-input,
.md-datepicker-input-container.md-datepicker-invalid .md-datepicker-input {
  border-width: 0 0 2px;
  padding-bottom: 0px;
}
.md-datepicker-input-container.md-datepicker-focused .md-datepicker-input {
  border-bottom-color: rgb(121, 85, 72);
}
.md-datepicker-input-container.md-datepicker-invalid .md-datepicker-input {
  border-bottom-color: rgb(255, 109, 0);
}

.md-datepicker-open .md-datepicker-input-container {
  margin-left: 0px;
}
.md-datepicker-open .md-datepicker-input-container .md-datepicker-input {
  border-width: 0 0 0px;
  padding-bottom: 2px;
  margin-left: 0px;
}
