.#{$prefix}-message-error {
  color: $color-error;
}
.#{$prefix}-message-success {
  color: $color-success;
}
.#{$prefix}-message-info {
  color: $color-info;
}
.#{$prefix}-message-warning {
  color: $color-warning;
}