// Préfixe des classes CSS
$prefix:                    abx;


// Icons
$icon-css-prefix:           icon;
$fa-css-prefix:             fa;
$mdi-css-prefix:            mdi;

// Duration
$duration-transition:       0.2s;

// Font
$font-family:               'Source Sans Pro', Helvetica, sans-serif;
$font-family-fixed:         'Courier New', monospace;
$font-weight:               300;
$font-weight-bold:          400;

// Path
$abx-fonts-path:             '../fonts/';
$abx-images-path:           '../img/';

// Layout
$baseline-grid:             8px !default;
$layout-gutter-width:       ($baseline-grid * 2) !default;

$layout-breakpoint-xs:      600px !default;
$layout-breakpoint-sm:      960px !default;
$layout-breakpoint-md:      1280px !default;
$layout-breakpoint-lg:      1920px !default;


// Couleurs
$color-error: #DD2C00;
$color-warning: #FF5722;
$color-success: #43DD00;
$color-info: #00B1DD;