@charset "UTF-8";
/** 
 * Fichier CSS de l'application 
 * 
 * @author     Romain Poussin (romain.poussin@ynov.com)
 * @author     Baptiste Lanusse (baptiste.lanusse@ynov.com)
 * @author     Zineddine Vergne (zineddine.vergne@ynov.com)
 */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/Roboto/Roboto-Light.woff2?v=2.0.0") format("woff2"), url("../fonts/Roboto/Roboto-Light.woff?v=2.0.0") format("woff"), url("../fonts/Roboto/Roboto-Light.ttf?v=2.0.0") format("truetype"); }
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), url("../fonts/Roboto/Roboto-Regular.woff2?v=2.0.0") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff?v=2.0.0") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf?v=2.0.0") format("truetype"); }
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto/Roboto-Medium.woff2?v=2.0.0") format("woff2"), url("../fonts/Roboto/Roboto-Medium.woff?v=2.0.0") format("woff"), url("../fonts/Roboto/Roboto-Medium.ttf?v=2.0.0") format("truetype"); }
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto/Roboto-Bold.woff2?v=2.0.0") format("woff2"), url("../fonts/Roboto/Roboto-Bold.woff?v=2.0.0") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf?v=2.0.0") format("truetype"); }
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: local("Roboto Italic"), local("Roboto-Italic"), url("../fonts/Roboto/Roboto-Italic.woff2?v=2.0.0") format("woff2"), url("../fonts/Roboto/Roboto-Italic.woff?v=2.0.0") format("woff"), url("../fonts/Roboto/Roboto-Italic.ttf?v=2.0.0") format("truetype"); }


/******************************************************************************/
/*********************Surcouche de Bootstrap***********************************/
/******************************************************************************/
.col-xs-12, .col-md-4, .col-md-8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-12 {
    float: left;
    width: 100%;
}

@media (min-width: 992px) {
    .col-md-4, .col-md-8 {
        float: left;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
}

.clearfix:before, .clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}


/**********/
/**Footer**/
/**********/
footer
{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f6f6f6;
    color: #bbb;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}

/****************/
/**Testimonials**/
/****************/
/*  */
.testimonials-section
{
    background-color: #FCFCFC;
}

.testimonial-container
{
    height: 300px;
    line-height: 300px;
    vertical-align: middle;
}

.testimonials-picture-container
{
    text-align: center;
}

.testimonial-picture
{
    border-radius: 9999px;
    display: inline-block;
    height: 300px;
    width: 300px;
    border: 3px solid #f0f0f0;
}

.testimonials-text
{
    margin-top: 30px;
    line-height: 80px;
    vertical-align: middle;
    font-size: 60px;
    color: #888;
    text-align: left;
    font-weight: 200;
    padding-right: 75px;
    font-style: italic;
    position: relative;
}

.testimonials-text-content
{
    position: relative;
    z-index: 2;
    padding-left: 40px;
}

.pm-front-validation-messages {
    font-size: 10px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2) 0s;
    color: #FF5722;
}