<!--

  <h2>Page d'accueil de l'espace connecté</h2>  
  
  <p>Pour cette première phase de recette, seuls les menus Paramètres et Droits sont actifs, pour les admins uniquement.</p>
  <p>Vous pouvez changer votre rôle en cliquant dans le menu de gauche dans la partie nom, profil, établissement.</p>
</md-card>-->

<div ng-hide="$ctrl.vm.isConnected">
    <!-- Carousel -->

    <jk-carousel
        data="$ctrl.vm.arraySlider"
        item-template-url="'app/components/home/item-template.html'"
        max-width="1980" 
        max-height="922" >
    </jk-carousel>
    <!-- Fin Carousel-->

    <div flex layout="row" layout-xs="column" layout-sm="column" layout-align="center center">
        <div flex class="logo-content"> 
            <img ng-src="../../../../assets/img/terre.png" class="md-card-image logo" alt="Washed Out">
            <h1 class="md-headline">Notre réseaux</h1>
            <p>
                Un réseau unique composé de professionels aguerris
            </p>
        </div>

        <div flex class="logo-content"> 
            <img ng-src="../../../../assets/img/medaille.png" class="md-card-image logo" alt="Washed Out">                
            <h1 class="md-headline">Le recrutement</h1>
            <p>
                Un recrutement efficace  simple et plus rapide
            </p>
        </div>

        <div flex class="logo-content"> 
            <img ng-src="../../../../assets/img/planette.png" class="md-card-image logo" alt="Washed Out">
            <h1 class="md-headline">Votre projet</h1>
            <p>
                Tout le nécessaire pour mettre votre projet en orbite
            </p>
        </div>


    </div>

    <!-- Testimonials -->
    <div class="testimonials-section"  flex>
        <div class="testimonials-container" layout="row"  layout-xs="column" layout-sm="column" flex layout-margin layout-align="center center">
            <div class="testimonials-picture-container" flex>
                <img class="testimonial-picture" src="{{$ctrl.vm.arrayTestimonial[0].src}}" />
            </div>
            <!-- Affichage taille écran supérieur à 960 px-->
            <div class="testimonials-text" flex="66" hide-xs hide-sm>

                <div class="testimonials-text-content" >
                    <i class="material-icons quote-left">format_quote</i>
                    J'avais besoin de quelqu'un pour créer un site d'e-commerce. Je l'ai trouvé en moins de 2 jours !
                    <i class="material-icons quote-right">format_quote</i>
                </div>
            </div>
            <!-- Affichage taille écran inférieur à 960 px-->
            <div class="testimonials-text-xs" flex="66" hide show-xs show-sm>
                <div class="testimonials-text-content">
                    <i class="material-icons quote-left">format_quote</i>
                    J'avais besoin de quelqu'un pour créer un site d'e-commerce. Je l'ai trouvé en moins de 2 jours ! 
                    <i class="material-icons quote-right quote-right-xs">format_quote</i>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>