
<md-card ng-if="$ctrl.vm.canDisplayView" layout-padding layout>


  <abx-form name="$ctrl.vm.ngForm.YearWeek" ng-submit="$ctrl.vm.save()" flex layout="column">
    <abx-form-title>
      <span>Gestions des semaines</span>
    </abx-form-title>

    <abx-form-group-title>Alternance de semaines</abx-form-group-title>
    <label ng-repeat="week in $ctrl.vm.finalWeek">

      {{week}}
    </label>
    <md-input-container>
      <label>Numéro de semaine</label>
      <input name="weekNumber" ng-model="$ctrl.vm.yearWeekNumber" 
             ng-required="true" abx-form-validate-back>

    </md-input-container>

    <md-menu>
      Modifier ou supprimer une semaine
      <md-button 
          ng-click="$mdOpenMenu($event)"
          aria-label="Ouvrir le menu" 
          class="md-icon-button">
        <md-icon 
            md-menu-origin 
            md-svg-icon="action:menu">
        </md-icon>
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button ng-click="$ctrl.vm.update()">
            <md-icon 
                md-menu-align-target 
                md-svg-icon="action:read">
            </md-icon>
            Modifier
          </md-button>
        </md-menu-item>     
        <md-menu-item>                
          <md-button ng-click="$ctrl.vm.delete([$ctrl.vm.yearWeekNumber])"> 
            <md-icon 
                md-menu-align-target 
                md-svg-icon="action:read">
            </md-icon>
            Supprimer
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <md-button  ng-click="$ctrl.vm.create($ctrl.vm.yearWeekNumber)" class="md-raised" >
      <md-icon md-svg-icon="action:create"></md-icon>
      Créer une semaine
    </md-button>
  </abx-form>
</md-card>


