.#{$prefix}-sidenav {
  overflow: hidden;

  .sm & {
    &.md-closed {
      display: flex;
      position: static;
      transform: none;
      max-width: 60px;
      min-width: 64px;
      width: 64px;

      #{$prefix}-profile {
        > .md-button {
          min-width: 64px;
        }

        .#{$prefix}-avatar {
          width: 64px;
          height: 64px;
        }

        .#{$prefix}-name,
        .#{$prefix}-role,
        .#{$prefix}-school {
          display: none;
        }
      }

      .#{$prefix}-menu li .md-button > span {
        display: none;
      }
    }
  }

  .#{$prefix}-profile {
    background-image: url(quote($abx-images-path + 'background/newsinglepage.png'));
    background-size: cover;
    /*background-image: url("https://zotsell.com/themes/newsinglepage/img/patterns/pattern.png");*/
    /*    background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,                  
          hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
          hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,                
          hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
          hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
          hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px       
          ),
          repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px, 
          hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
          hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,                
          hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
          hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
          hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px       
          );*/

    #{$prefix}-profile {
      > .md-button {
        margin: 0;
        padding: 0;
        text-transform: none;
        text-align: start;
        line-height: none;
      }

      .#{$prefix}-name {
        background-color: rgba(0,0,0,0.25);

        .md-toolbar-tools {
          .gt-sm & {
            height: 48px;
            max-height: 48px;
          }
        }
      }
    }

    .#{$prefix}-avatar {
      position: relative;
      width: 72px;
      height: 72px;
      border: 3px solid rgba(0, 0, 0, 0.14);
      border-radius: 50%;
      display: inline-block;
      overflow: hidden;
      margin: 0px;
      vertical-align: middle;
      zoom:0.70;
      transform: translateZ(0);
      -webkit-transform: scale(0.70);
      -moz-transform:scale(0.70);
    }

    .#{$prefix}-role {
      .md-title  {
        line-height: rem(2.67);
      }
    }
  }

  .#{$prefix}-menu {
    list-style: outside none none;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;

    li {
      list-style-position: inside;
      margin: 0;
      padding: 0;

      .md-button {
        align-items: inherit;
        border-radius: 0;
        display: block;
        overflow: hidden;
        line-height: 40px;
        max-height: 40px;
        margin: 0;
        padding: 0 16px;
        text-align: left;
        text-decoration: none;
        white-space: normal;
        width: 100%;

        &.active {
          background-color: rgba(158,158,158,0.5);

          &:hover {
            background-color: rgba(158,158,158,0.75);
          }
        }

        md-icon {
          margin-right: 16px;
        }
      }
    }
  } 
}
