<div ng-message="back-global-error-200-no-response-property">La propriété "Response" est introuvable dans la réponse du serveur.</div>
<div ng-message="back-global-error-200-error-result">Erreur indiquée dans la réponse du serveur.</div>
<div ng-message="back-global-error-200-parsing-response">Erreur lors de l'interprétation de la réponse du serveur.</div>
<div ng-message="back-global-error-400">Erreur 400&nbsp;: la syntaxe de la requête est erronée.</div>
<div ng-message="back-global-error-403">Erreur 403&nbsp;: action interdite.</div>
<div ng-message="back-global-error-404">Erreur 404&nbsp;: la ressource n'a pas été trouvée.</div>
<div ng-message="back-global-error-408">Erreur 408&nbsp;: temps d'attente de la réponse du serveur dépassé.</div>
<div ng-message="back-global-error-500">Erreur 500&nbsp;: erreur interne du serveur.</div>
<div ng-message="back-global-error-502">Erreur 502&nbsp;: erreur de proxy ou de passerelle.</div>
<div ng-message="back-global-error-504">Erreur 504&nbsp;: temps d'attente de la réponse du serveur dépassé.</div>
<div ng-message="back-global-error-520">Erreur 520&nbsp;: erreur inconnue.</div>

<div ng-message="invalid-schoolYear">L'année scolaire est invalide.</div>
<div ng-message="null-schoolYearId">L'année scolaire est obligatoire.</div>

<div ng-message="null-id">L'identifiant ne peut pas être à null.</div>
<div ng-message="id-does-not-exist">Cet élément n'existe pas en base.</div>

<div ng-message="unexpected-error">Erreur inconnue.</div>
