<!-- *** Formulaire CREATE | DUPLICATE | UPDATE *** -->
<md-card ng-if="$ctrl.vm.canDisplayView && $ctrl.vm.formAction !== 'read'" layout-padding layout>

  <!-- ** TimetableContainer ** -->
  <pm-form name="$ctrl.vm.ngForm.TimetableContainer" ng-submit="$ctrl.vm.save()" flex layout="column">

    <!-- titre du form -->
    <pm-form-title>
      <span ng-if="$ctrl.vm.formAction === 'create'">Création d'un groupe d'horaires</span>
      <span ng-if="$ctrl.vm.formAction === 'update'">Modification d'un groupe d'horaires</span>

      <pm-help>
        <p>Les horaires (M1, M2, S1...) permettent de faciliter la saisie de séances dans l'agenda.</p>
        <p>On pourra indiquer par exemple qu'un cours commence en M1 et finit en M2.</p>
        <p><em>Les groupes d'horaires ne sont pas obligatoires pour utiliser Isa.</em></p>
      </pm-help>
    </pm-form-title>

    <!-- * validations * -->
    <!-- back : erreurs globales -->
    <div ng-messages="$ctrl.vm.ngForm.TimetableContainer.pmFormBackValidation.errors" ng-messages-multiple class="pm-form-back-global-validation-messages">
      <div ng-messages-include="pm-back-global-validation-messages"></div>
    </div>

    <pm-form-group-title ng-if="$ctrl.vm.formAction === 'update'">Options de modification des horaires
      <pm-help>
        Ces options ont les conséquences suivantes&nbsp;:
        <ul>
          <li>
            <strong>Ne pas modifier les horaires des séances existantes&nbsp;:</strong>
            <ul>
              <li>Les horaires des séances existantes ne seront pas modifiés, le lien avec l'horaire modifié sera rompu.</li>
              <li>
                <em>Exemple&nbsp;: l'horaire M1 du lundi durait de 08:00 à 08:55. Cet horaire est modifié pour passer à 08:05 - 09:00. Avec cette option, 
                  le cours d'histoire-géographie déjà existant pour M1 reste de 08:00 à 08:55. La référence à M1 est supprimée, le cours passe en horaires libres.
                  Il ne sera donc plus possible de modifier automatiquement ses horaires.</em>
              </li>
            </ul>
          </li>
          <li>
            <strong>Modifier les horaires des séances pour toute l'année&nbsp;:</strong>
            <ul>
              <li>Les horaires des séances existantes seront modifiés pour toute l'année.</li>
              <li>
                <em>Exemple&nbsp;: l'horaire M1 du lundi durait de 08:00 à 08:55. Cet horaire est modifié pour passer à 08:05 - 09:00. Avec cette option, 
                  le cours d'histoire-géographie déjà existant pour M1 passe à 08:05 - 09:00.</em>
              </li>
            </ul>
          </li>
          <li>
            <strong>Modifier les horaires des séances à partir de&nbsp;:</strong>
            <ul>
              <li>C'est un mélange des deux options précédentes&nbsp;:
                <ul>
                  <li>les horaires des séances existantes avant la date indiquée ne seront pas modifiés (voir première option)&nbsp;;</li>
                  <li>les horaires des séances existantes à partir de la date indiquée seront modifiés (voir deuxième option).</li>
                </ul>
              </li>

            </ul>
          </li>
        </ul>
      </pm-help>
    </pm-form-group-title>

    <div layout="column" ng-if="$ctrl.vm.formAction === 'update'">
      <!-- back -->
      <div ng-messages="$ctrl.vm.ngForm.TimetableContainer.cascadeEffect.pmFormBackValidation.errors" ng-messages-multiple
           class="pm-form-back-validation-messages">
        <div ng-message="null">Vous devez sélectionner une option de modification des horaires.</div>
        <div ng-message="bad">L'option de modification des horaires est incorrecte.</div>
        <div ng-messages-include="pm-back-validation-messages"></div>
      </div>
      <md-input-container>   
        <md-radio-group name="cascadeEffect" ng-model="$ctrl.vm.timetableContainer.cascadeEffect" pm-form-validate-back>
          <md-radio-button value="0">Ne pas modifier les horaires des séances existantes</md-radio-button>
          <md-radio-button value="2">Modifier les horaires des séances pour toute l'année </md-radio-button>
          <md-radio-button value="1">Modifier les horaires des séances à partir de :</md-radio-button>
        </md-radio-group>
      </md-input-container>

      <md-datepicker name="cascadeEffectStartDate"  ng-model="$ctrl.vm.timetableContainer.cascadeEffectStartDate.value"
                     pm-label="Date de début" pm-example="25/12/2016"
                     ng-disabled="$ctrl.vm.timetableContainer.cascadeEffect !== '1'" ng-required="$ctrl.vm.timetableContainer.cascadeEffect === '1'"
                     md-min-date="$ctrl.vm.timetableContainer.cascadeEffectStartDate.minDate" md-max-date="$ctrl.vm.timetableContainer.cascadeEffectStartDate.maxDate"
                     pm-form-validate-back />
      </md-datepicker>

      <!-- front -->
      <div ng-messages="$ctrl.vm.ngForm.TimetableContainer.cascadeEffectStartDate.$error" ng-messages-multiple
           class="pm-form-front-validation-messages" >
        <div ng-message="required">La date de début de la modification des horaires est obligatoire.</div>
        <div ng-message="mindate">La date de début de la modification des horaires doit être égale ou ultérieure au 
          {{$ctrl.vm.timetableContainer.cascadeEffectStartDate.minDate| pmCommonDatetimeFilter:'shortDate'}}.
        </div>
        <div ng-message="maxdate">La date de début la modification des horaires doit être antérieure ou égale au 
          {{$ctrl.vm.timetableContainer.cascadeEffectStartDate.maxDate| pmCommonDatetimeFilter:'shortDate'}}.
        </div>
        <div ng-messages-include="pm-front-datetime-validation-messages"></div>
        <div ng-messages-include="pm-front-generic-validation-messages"></div>
      </div>
      <!-- back -->
      <div ng-messages="$ctrl.vm.ngForm.TimetableContainer.cascadeEffectStartDate.pmFormBackValidation.errors" ng-messages-multiple
           class="pm-form-back-validation-messages">
        <div ng-message="null">La date de début de la modification des horaires est obligatoire.</div>
        <div ng-message="date-not-included-in-current-yearcontainer">La date de début de la modification des horaires doit être comprise entre le
          {{$ctrl.vm.ngForm.TimetableContainer.cascadeEffectStartDate.pmFormBackValidation.params['date-not-included-in-current-yearcontainer'][0].minDate| pmCommonDatetimeFilter:'shortDate'}}
          et le {{$ctrl.vm.ngForm.TimetableContainer.cascadeEffectStartDate.pmFormBackValidation.params['date-not-included-in-current-yearcontainer'][0].maxDate| pmCommonDatetimeFilter:'shortDate'}}.
        </div>
        <div ng-messages-include="pm-back-validation-messages"></div>
      </div>
    </div>


    <!-- ** TimetableContainer.name ** -->


    <pm-form-group-title>Groupe d'horaires</pm-form-group-title>

    <md-input-container>
      <!-- champ -->
      <label>Nom</label>
      <input name="name" ng-model="$ctrl.vm.timetableContainer.name.value" 
             ng-required="true" 
             ng-minlength="$ctrl.vm.timetableContainer.name.minLength" md-maxlength="$ctrl.vm.timetableContainer.name.maxLength" 
             pm-form-validate-back />
      <pm-form-field-example>Horaires collège, Horaires SEGPA...</pm-form-field-example>

      <!-- * validations * -->
      <!-- front -->
      <div ng-messages="$ctrl.vm.ngForm.TimetableContainer.name.$error" ng-messages-multiple
           class="pm-form-front-validation-messages">
        <div ng-message="required">Le nom du groupe d'horaires est obligatoire.</div>
        <div ng-message="minlength">Le nom du groupe d'horaires doit compter au minimum {{$ctrl.vm.timetableContainer.name.minLength}}
          {{$ctrl.vm.timetableContainer.name.minLength, plural, offset:0
                =1 {caractère.}
            other {caractères.}
          }}
        </div>
        <div ng-message="md-maxlength">Le nom du groupe d'horaires doit compter au maximum {{$ctrl.vm.timetableContainer.name.maxLength}}
          {{$ctrl.vm.timetableContainer.name.maxLength, plural, offset:0
                =1 {caractère.}
            other {caractères.}
          }}
        </div>
        <div ng-messages-include="pm-front-generic-validation-messages"></div>
      </div>
      <!-- back -->
      <div ng-messages="$ctrl.vm.ngForm.TimetableContainer.name.pmFormBackValidation.errors" ng-messages-multiple
           class="pm-form-back-validation-messages">
        <div ng-message="null">Le nom du groupe d'horaires est obligatoire.</div>
        <div ng-message="bad-length">Le nom du groupe d'horaires doit compter entre
          {{$ctrl.vm.ngForm.TimetableContainer.name.pmFormBackValidation.params['bad-length'][0].minLength}} et
          {{$ctrl.vm.ngForm.TimetableContainer.name.pmFormBackValidation.params['bad-length'][0].maxLength}}
          {{$ctrl.vm.ngForm.TimetableContainer.name.pmFormBackValidation.params['bad-length'][0].maxLength, plural, offset:0
                =1 {caractère.}
            other {caractères.}
          }}
        </div>
        <div ng-message="not-unique">Ce nom du groupe d'horaires existe déjà pour cette année scolaire.</div>
        <div ng-messages-include="pm-back-validation-messages"></div>
      </div>
    </md-input-container>


    <!-- ** TimetableContainer.daysOfWeek ** -->
    <pm-form-group name="daysOfWeek" md-whiteframe="1" layout-padding flex>

      <pm-form-group-title>Horaires</pm-form-group-title>

      <div ng-messages="$ctrl.vm.ngForm.TimetableContainer.daysOfWeek.pmFormBackValidation.errors" ng-messages-multiple
           class="pm-form-back-validation-messages">
        <div ng-message="daysOfWeek-in-error-list">
          {{$ctrl.vm.daysOfWeekErrorsCount, plural, offset:0
                =1 {Erreur}
            other {Erreurs}
          }}
          {{$ctrl.vm.ngForm.TimetableContainer.daysOfWeek.pmFormBackValidation.params['daysOfWeek-in-error-list'].length, plural, offset:0
            =1 { sur le jour suivant&nbsp;:}                      
            other { sur les jours suivants&nbsp;:}
          }}
          <ul>
            <li ng-repeat="dayOfWeekError in $ctrl.vm.ngForm.TimetableContainer.daysOfWeek.pmFormBackValidation.params['daysOfWeek-in-error-list']| pmCommonOrderByDatetimeFilter:'dayOfWeekList'">
              {{dayOfWeekError| pmCommonDatetimeFilter:'longDayOfWeek'}}
            </li>
          </ul>
        </div>
      </div>

      <md-tabs md-dynamic-height md-border-bottom md-selected="$ctrl.vm.activeDayOfWeek" md-swipe-content="false">

        <md-tab label="{{dayOfWeek.dayOfWeek| pmCommonDatetimeFilter:'longDayOfWeek'}}"
                ng-repeat="dayOfWeek in $ctrl.vm.timetableContainer.daysOfWeek| pmCommonOrderByDatetimeFilter:'dayOfWeek'">

          <!-- ** TimetableContainer.daysOfWeek[dayOfWeek] ** -->
          <pm-form-group name="{{dayOfWeek.dayOfWeek}}" flex>
            <!-- back -->
            <div ng-messages="$ctrl.vm.ngForm.TimetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].pmFormBackValidation.errors" ng-messages-multiple
                 class="pm-form-back-validation-messages">
              <div ng-message="null">Le numéro du jour de la semaine est obligatoire.</div>
              <div ng-message="out-of-bound-value">Le numéro du jour de la semaine doit être compris entre 1 et 7.</div>
              <div ng-message="not-unique">Le numéro du jour de la semaine doit être unique.</div>
              <div ng-messages-include="pm-back-validation-messages"></div>
            </div>

            <!-- ** TimetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables ** -->
            <pm-form-group name="timetables" flex>

              <!-- back -->
              <div ng-messages="$ctrl.vm.ngForm.TimetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables.pmFormBackValidation.errors" ng-messages-multiple
                   class="pm-form-back-validation-messages">
                <div ng-message="timetablename-not-unique">Les noms des horaires doivent être uniques pour chaque jour de la semaine.</div>
                <div ng-message="overlap-conflict">Les horaires ne doivent pas se chevaucher.</div>   
                <div ng-messages-include="pm-back-validation-messages"></div>
              </div>

              <!-- ** TimetableContainer.daysOfWeek[dayOfWeek].timetables[$index] ** -->
              <pm-action-group>
                <p ng-if="dayOfWeek.timetables.length === 0"><em>Aucun horaire pour ce jour.</em></p>
                <md-content class="pm-timetable" ng-repeat="timetable in dayOfWeek.timetables" md-whiteframe="1" layout-padding>
                  <pm-form-group name="{{$index}}">

                    <!-- back -->
                    <div ng-messages="$ctrl.vm.ngForm.TimetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables[$index].pmFormBackValidation.errors" ng-messages-multiple
                         class="pm-form-back-validation-messages">
                      <div ng-message="chronological-order-times">L'heure de fin doit être ultérieure à l'heure de début.</div>               
                      <div ng-messages-include="pm-back-validation-messages"></div>
                    </div>

                    <!-- numéro d'horaire + boutons Ajouter + Supprimer -->
                    <div layout="row" flex layout-align="start center">
                      <pm-action-group-select pm-options-id="$index" pm-options-actions="{duplicate: true, delete: true}"></pm-action-group-select>
                      <div flex>Horaire n°{{$index + 1}}</div>
                      <md-button  ng-click="$ctrl.vm.addTimetable(dayOfWeek.dayOfWeek, $index)" class="md-icon-button">
                        <md-icon md-svg-icon="action:create"></md-icon>
                      </md-button>
                      <md-button ng-click="$ctrl.vm.deleteTimetables(dayOfWeek.dayOfWeek, [$index])" class="md-icon-button">
                        <md-icon md-svg-icon="action:delete"></md-icon>
                      </md-button>
                    </div>

                    <div layout="row" flex layout-wrap>
                      <!-- ** TimetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables[$index].name ** -->
                      <md-input-container flex="noshrink">
                        <!-- champ -->
                        <label>Nom</label>
                        <input name="name" ng-model="$ctrl.vm.timetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables[$index].name.value" 	
                               ng-required="true"
                               ng-minlength="$ctrl.vm.timetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables[$index].name.minLength" 
                               md-maxlength="$ctrl.vm.timetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables[$index].name.maxLength" 
                               pm-form-validate-back />
                        <pm-form-field-example>M1, M2, S1...</pm-form-field-example>

                        <!-- * validations * -->
                        <!-- front -->
                        <div ng-messages="$ctrl.vm.ngForm.TimetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables[$index].name.$error" 
                             ng-messages-multiple class="pm-form-front-validation-messages">
                          <div ng-message="required">Le nom de l'horaire est obligatoire.</div>
                          <div ng-message="minlength">Le nom de l'horaire doit compter au minimum {{$ctrl.vm.timetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables[$index].name.minLength}}
                            {{$ctrl.vm.timetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables[$index].name.minLength, plural, offset:0
                                =1 {caractère.}
                            other {caractères.}
                            }}
                          </div>
                          <div ng-message="md-maxlength">Le nom de l'horaire doit compter au maximum {{$ctrl.vm.timetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables[$index].name.maxLength}}
                            {{$ctrl.vm.timetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables[$index].name.maxLength, plural, offset:0
                                =1 {caractère.}
                            other {caractères.}
                            }}
                          </div>
                          <div ng-messages-include="pm-front-generic-validation-messages"></div>
                        </div>
                        <!-- back -->
                        <div ng-messages="$ctrl.vm.ngForm.TimetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables[$index].name.pmFormBackValidation.errors" ng-messages-multiple
                             class="pm-form-back-validation-messages">
                          <div ng-message="null">Le nom de l'horaire est obligatoire.</div>
                          <div ng-message="bad-length">Le nom de l'horaire doit compter entre
                            {{$ctrl.vm.ngForm.TimetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables[$index].name.pmFormBackValidation.params['bad-length'][0].minLength}} et
                            {{$ctrl.vm.ngForm.TimetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables[$index].name.pmFormBackValidation.params['bad-length'][0].maxLength}}
                            {{$ctrl.vm.ngForm.TimetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables[$index].name.pmFormBackValidation.params['bad-length'][0].maxLength, plural, offset:0
                                =1 {caractère.}
                            other {caractères.}
                            }}
                          </div>
                          <div ng-messages-include="pm-back-validation-messages"></div>
                        </div>
                      </md-input-container>

                      <div layout="row" flex="noshrink" layout-wrap>
                        <!-- ** TimetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables[$index].startTime ** -->
                        <md-input-container flex="noshrink">
                          <!-- champ -->
                          <label>Heure de début</label>
                          <input name="startTime" ng-model="$ctrl.vm.timetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables[$index].startTime.value" 	
                                 ui-mask="99:99" model-view-value="true" ui-mask-placeholder placeholder="Heure de début"
                                 ng-required="true" pm-time-validator pm-form-validate-back />
                          <pm-form-field-example>08:00, 14:00...</pm-form-field-example>

                          <!-- * validations * -->
                          <!-- front -->
                          <div ng-messages="$ctrl.vm.ngForm.TimetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables[$index].startTime.$error" 
                               ng-messages-multiple class="pm-form-front-validation-messages">
                            <div ng-message="required">L'heure de début est obligatoire.</div>
                            <div ng-messages-include="pm-front-datetime-validation-messages"></div>
                            <div ng-messages-include="pm-front-generic-validation-messages"></div>
                          </div>
                          <!-- back -->
                          <div ng-messages="$ctrl.vm.ngForm.TimetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables[$index].startTime.pmFormBackValidation.errors" ng-messages-multiple
                               class="pm-form-back-validation-messages">
                            <div ng-message="null">L'heure de début est obligatoire.</div>
                            <div ng-message="bad-format">L'heure de début doit être au format hh:mm, entre 00:00 et 23:59.</div>
                            <div ng-messages-include="pm-back-validation-messages"></div>
                          </div>
                        </md-input-container>

                        <!-- ** TimetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables[$index].endTime ** -->
                        <md-input-container flex="noshrink">
                          <!-- champ -->
                          <label>Heure de fin</label>
                          <input name="endTime" ng-model="$ctrl.vm.timetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables[$index].endTime.value" 		
                                 ui-mask="99:99" model-view-value="true" ui-mask-placeholder placeholder="Heure de fin"
                                 ng-required="true" pm-time-validator pm-form-validate-back />
                          <pm-form-field-example>08:55, 15:15...</pm-form-field-example>

                          <!-- * validations * -->
                          <!-- front -->
                          <div ng-messages="$ctrl.vm.ngForm.TimetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables[$index].endTime.$error" 
                               ng-messages-multiple
                               class="pm-form-front-validation-messages">
                            <div ng-message="required">L'heure de fin est obligatoire.</div>

                            <div ng-messages-include="pm-front-datetime-validation-messages"></div>
                            <div ng-messages-include="pm-front-generic-validation-messages"></div>
                          </div>
                          <!-- back -->
                          <div ng-messages="$ctrl.vm.ngForm.TimetableContainer.daysOfWeek[dayOfWeek.dayOfWeek].timetables[$index].endTime.pmFormBackValidation.errors" ng-messages-multiple
                               class="pm-form-back-validation-messages">
                            <div ng-message="null">L'heure de fin est obligatoire.</div>
                            <div ng-message="bad-format">L'heure de fin doit être au format hh:mm, entre 00:00 et 23:59.</div>
                            <div ng-messages-include="pm-back-validation-messages"></div>
                          </div>
                        </md-input-container>
                      </div>
                    </div>


                  </pm-form-group>
                </md-content>

                <pm-action-group-bar layout-margin>
                  <md-button ng-click="$ctrl.vm.deleteTimetables(dayOfWeek.dayOfWeek, getSelectedIds())" pm-action-group-bar-action="delete" class="md-raised">
                    <md-icon 
                      md-menu-align-target
                      md-svg-icon="action:delete">
                    </md-icon>
                    Supprimer
                  </md-button>
                  
                  Duplication&nbsp;:
                  <ui-select style="width: 300px;" ng-model="$ctrl.vm.selectedDaysOfWeek" search-enabled="false" multiple>
                    <ui-select-match 
                      class="ui-select-match"
                      placeholder="Choisissez les jours cibles">
                      {{$item| pmCommonDatetimeFilter:'longDayOfWeek'}}
                    </ui-select-match>
                    <ui-select-choices 
                      class="ui-select-choices"
                      repeat="option in [0, 1, 2, 3, 4, 5, 6]| pmCommonOrderByDatetimeFilter:'dayOfWeek' | filter:'!' + dayOfWeek.dayOfWeek">
                      <div ng-bind-html="option| pmCommonDatetimeFilter:'longDayOfWeek'"></div>
                    </ui-select-choices>
                  </ui-select>
                  <md-button  ng-click="$ctrl.vm.duplicateTimetables(dayOfWeek.dayOfWeek, getSelectedIds(), $ctrl.vm.selectedDaysOfWeek)" pm-action-group-bar-action="duplicate" class="md-raised" >
                    <md-icon 
                      md-menu-align-target
                      md-svg-icon="action:duplicate">
                    </md-icon>
                    Dupliquer
                  </md-button>
                </pm-action-group-bar>
              </pm-action-group>

            </pm-form-group>

            <div>
              <md-button  ng-click="$ctrl.vm.addTimetable(dayOfWeek.dayOfWeek)" class="md-raised" >
                <md-icon md-svg-icon="action:create"></md-icon>
                Ajouter un horaire
              </md-button>

            </div>
          </pm-form-group>
        </md-tab>

      </md-tabs>

    </pm-form-group>

    <!-- toolbar -->
    <pm-form-submit-toolbar>
      <md-button pm-form-submit-button ng-click="$ctrl.vm.cancel()">
        <md-icon md-svg-icon="action:cancel"></md-icon>
        Annuler
      </md-button>

      <md-button pm-form-submit-button type="submit" ng-disabled="!$ctrl.vm.ngForm.TimetableContainer.$valid || $ctrl.vm.isSaving">
        <md-icon md-svg-icon="{{'action:' + $ctrl.vm.formAction}}"></md-icon>
        <span ng-if="$ctrl.vm.formAction === 'create'">Créer</span>
        <span ng-if="$ctrl.vm.formAction === 'update'">Modifier</span>
      </md-button>


    </pm-form-submit-toolbar>

  </pm-form>
</md-card>



<!-- Affichage READ  -->

<md-card ng-if="$ctrl.vm.canDisplayView && $ctrl.vm.formAction === 'read'" layout-margin>
  <pm-read>
    <pm-read-title>Affichage d'un groupe d'horaires</pm-read-title>
    <pm-read-group>
      <p><pm-read-field-name>Nom du groupe d'horaires</pm-read-field-name> {{$ctrl.vm.timetableContainer.name.value}}</p>
    </pm-read-group>
    <pm-read-group>
      <pm-read-group-title>Horaires</pm-read-group-title>
      <md-tabs md-dynamic-height md-border-bottom md-swipe-content>

        <md-tab label="{{dayOfWeek.dayOfWeek| pmCommonDatetimeFilter:'longDayOfWeek'}}" 
                ng-repeat="dayOfWeek in $ctrl.vm.timetableContainer.daysOfWeek| pmCommonOrderByDatetimeFilter:'dayOfWeek'">
          <p ng-if="dayOfWeek.timetables.length === 0"><em>Aucun horaire pour ce jour.</em></p>
          <p name="{{$index}}" ng-repeat="timetable in dayOfWeek.timetables">

          <pm-read-field-name>{{timetable.name.value}}</pm-read-field-name>
          de {{timetable.startTime.value}} à {{timetable.endTime.value}}</p>

        </md-tab>

      </md-tabs>
    </pm-read-group>
    <pm-read-actions>
      <md-button ng-click="$ctrl.vm.navigate('home')" class="md-raised">
        <md-icon md-svg-icon="action:return"></md-icon>
        Retour
      </md-button>    
      <md-button ng-if="$ctrl.vm.isAllowedUpdate" ng-click="$ctrl.vm.navigate('update')" class="md-raised">
        <md-icon md-svg-icon="action:update"></md-icon>
        Modifier
      </md-button>
    </pm-read-actions>
  </pm-read>
</md-card>
