.#{$prefix}-form-field-example {
  min-height: 24px;
  min-width: 1px; // Ensure the element always takes up space, even if empty

  font-size: 12px;
  line-height: 14px;
  padding: 5px 0 0 2px;
  margin-right: 50px;
}

.#{$prefix}-form-submit-toolbar {
  margin: 8px 0;
}

.#{$prefix}-period {
  margin-bottom: 16px;
}

.#{$prefix}-timetable {
  margin: 16px 4px;
}