<md-card>
  <pm-form 
    name="form" 
    ng-submit="$ctrl.vm.connect()"
    ng-if="$ctrl.vm.canDisplayView"
    class="md-padding" layout-margin>

    <pm-form-title>Sélection du profil</pm-form-title>

    <!-- globalProfile -->
    <pm-form-element-select ng-show="$ctrl.vm.globalProfiles.length > 1">
      <label>Profil</label>
      <ui-select
        ng-model="$ctrl.vm.newProfile.globalProfile"
        search-enabled="false">
        <ui-select-match 
          class="ui-select-match"
          placeholder="Choisissez votre profil">
          {{$select.selected| pmCommonProfileFilter:{withUCFirst:true} }}
        </ui-select-match>
        <ui-select-choices 
          class="ui-select-choices"
          repeat="option in $ctrl.vm.globalProfiles">
          <div ng-bind-html="option | pmCommonProfileFilter:{withUCFirst:true}"></div>
        </ui-select-choices>
      </ui-select>
    </pm-form-element-select>


    <!-- student -->
    <pm-form-element-select ng-show="$ctrl.vm.newProfile.globalProfile === 'responsible'
                && $ctrl.vm.students.length > 1">
      <label>Élève</label>
      <ui-select
        ng-model="$ctrl.vm.newProfile.studentUserId"
        search-enabled="false">
        <ui-select-match  
          class="ui-select-match"
          placeholder="Choisissez l'élève">
          {{$select.selected| pmCommonUserNameFilter:'fn_ln'}}
        </ui-select-match>
        <ui-select-choices 
          class="ui-select-choices"
          repeat="option.userId as option in $ctrl.vm.students">
          <div ng-bind-html="option| pmCommonUserNameFilter:'fn_ln'"></div>
        </ui-select-choices>
      </ui-select>
    </pm-form-element-select>


    <!-- roleType -->
    <pm-form-element-select ng-show="$ctrl.vm.newProfile.globalProfile === 'staff'
                && $ctrl.vm.roleTypes.length > 1">
      <label>Type de rôle</label>
      <ui-select
        ng-model="$ctrl.vm.newProfile.roleType"
        search-enabled="false">
        <ui-select-match  
          class="ui-select-match"
          placeholder="Choisissez le type de rôle">
          {{$select.selected| pmCommonProfileFilter:{withUCFirst:true} }}
        </ui-select-match>
        <ui-select-choices 
          class="ui-select-choices"
          repeat="option in $ctrl.vm.roleTypes">
          <div ng-bind-html="option| pmCommonProfileFilter:{withUCFirst:true}"></div>
        </ui-select-choices>
      </ui-select>
    </pm-form-element-select>

    <!-- school -->
    <pm-form-element-select ng-show="($ctrl.vm.newProfile.studentUserId !== undefined
                    || $ctrl.vm.newProfile.globalProfile === 'student'
                    || $ctrl.vm.newProfile.roleType === 'schoolRoleType')
                    && $ctrl.vm.schools.length > 1">
      <label>Établissement</label>
      <ui-select
        ng-model="$ctrl.vm.newProfile.schoolId"
        search-enabled="$ctrl.vm.schools.length >= 5">
        <ui-select-match  
          class="ui-select-match"
          placeholder="Choisissez l'établissement">
          {{$select.selected| pmCommonSchoolFilter}}
        </ui-select-match>
        <ui-select-choices 
          class="ui-select-choices"
          repeat="option.schoolId as option in $ctrl.vm.schools| orderBy:uai | filter:$select.search">
          <div ng-bind-html="option| pmCommonSchoolFilter | highlight:$select.search"></div>
          <small ng-bind-html="'[' + option.uai + '] ' + option.city | highlight:$select.search"></small>
        </ui-select-choices>
      </ui-select>
    </pm-form-element-select>

    <!-- role -->
    <pm-form-element-select ng-show="(($ctrl.vm.newProfile.roleType === 'schoolRoleType'
                    && $ctrl.vm.newProfile.schoolId !== undefined)
                    || $ctrl.vm.newProfile.roleType === 'globalRoleType')
                    && $ctrl.vm.roles.length > 1">
      <label>Rôle</label>
      <ui-select
        ng-model="$ctrl.vm.newProfile.role"
        search-enabled="false">
        <ui-select-match  
          class="ui-select-match"
          placeholder="Choisissez le rôle">
          {{$select.selected| pmCommonProfileFilter:{sex:$ctrl.vm.userIdentity.sex,withUCFirst:true} }}
        </ui-select-match>
        <ui-select-choices 
          class="ui-select-choices"
          repeat="option in $ctrl.vm.roles| pmCommonOrderByRoleFilter">
          <div ng-bind-html="option| pmCommonProfileFilter:{sex:$ctrl.vm.userIdentity.sex,withUCFirst:true}"></div>
        </ui-select-choices>
      </ui-select>
    </pm-form-element-select>

    <!-- globalSchool -->
    <pm-form-element-select ng-show="$ctrl.vm.newProfile.roleType === 'globalRoleType' && $ctrl.vm.newProfile.role !== undefined">
      <label>Établissement</label>
      <ui-select ng-model="$ctrl.vm.newProfile.globalSchoolId">
        <ui-select-match class="ui-select-match" placeholder="Tapez les premiers caractères de [UAI] Type d'établissement Nom établissement - Commune">
          {{$select.selected.displayName}}
        </ui-select-match>
        <ui-select-choices class="ui-select-choices"
          repeat="option.id as option in $ctrl.vm.globalSchools"
          refresh="$ctrl.vm.getSchoolsByDisplayName($select.search)" refresh-delay="300">
          <div ng-bind-html="option.displayName | highlight:$select.search"></div>
        </ui-select-choices>
      </ui-select>
    </pm-form-element-select>
    
    
    <p ng-if="$ctrl.vm.forbiddenRoles.rolesCount > 0">
    <md-button ng-click="$ctrl.vm.showForbiddenRoles()">
      Afficher 
      {{$ctrl.vm.forbiddenRoles.rolesCount, plural, offset:0
              =1 {mon rôle non autorisé}                      
              other {mes rôles non autorisés}
          }}
          à accéder à Isa
    </md-button>
    </p>


    <!-- toolbar -->
    <pm-form-submit-toolbar>
      

      <md-button  pm-form-submit-button
                  ng-show="$ctrl.vm.hasAlreadySelectedProfile"
                  ng-click="$ctrl.vm.cancel()">
        Annuler
      </md-button>
      <md-button pm-form-submit-button
                 ng-show="(($ctrl.vm.newProfile.globalProfile === 'student'
                                       || $ctrl.vm.newProfile.globalProfile === 'responsible')
                                       && $ctrl.vm.newProfile.schoolId !== undefined)
                                       || ($ctrl.vm.newProfile.globalProfile === 'staff'
                                           && $ctrl.vm.newProfile.role !== undefined
                                           && (($ctrl.vm.newProfile.roleType === 'schoolRoleType' && $ctrl.vm.newProfile.schoolId !== undefined)
                                           || ($ctrl.vm.newProfile.roleType === 'globalRoleType' && $ctrl.vm.newProfile.globalSchoolId !== undefined)))"
                 type="submit">
        Choisir ce profil
      </md-button>
    </pm-form-submit-toolbar>

  </pm-form>
</md-card>