<div layout="row" layout-align="center center" flex>
  <md-card ng-if="$ctrl.vm.canDisplayView" layout-padding layout="column" flex-gt-sm="66" flex-gt-md="50" flex-gt-lg="33">
    <div flex layout="column">
      <h2>Déconnexion réalisée avec succès</h2>
      <h3>Attention !</h3>
      <p>Vous êtes déconnecté de l'application mais vous êtes toujours authentifié dans l'environnement de fédération.</p>
      <p>Pour vous déconnecter définitivement, veuillez fermer toutes les fenêtres de votre navigateur.</p>
    </div>
    <div layout="row" layout-sm="column" layout-align="start center" layout-wrap>
      <md-button  ng-click="$ctrl.vm.login()" class="md-raised md-primary">Reconnexion</md-button>
      <md-button  ng-click="$ctrl.vm.fullLogout()" class="md-raised md-warn">Déconnexion complète</md-button>
    </div>
  </md-card>
</div>
