<!-- *** Formulaire CREATE | DUPLICATE | UPDATE *** -->
<md-card ng-if="$ctrl.vm.canDisplayView && $ctrl.vm.formAction !== 'read'" layout-padding layout>

  <!-- ** AlternatingWeeks ** -->
  <pm-form name="$ctrl.vm.ngForm.AlternatingWeeks" ng-submit="$ctrl.vm.save()" flex layout="column">

    <!-- titre du form -->
    <pm-form-title>
      <span ng-if="$ctrl.vm.formAction === 'create'">Création d'une alternance de semaines</span>
      <span ng-if="$ctrl.vm.formAction === 'update'">Modification d'une alternance de semaines</span>

      <pm-help>
        <p>Les alternances de semaines (Semaines A, B, C, Rouge...) permettent de faciliter la saisie de séances récurrentes dans l'agenda.</p>
        <p>On pourra indiquer par exemple qu'un cours a lieu les semaines A
          ou qu'il se déroulera les semaines A et C.</p>
        <p><em>Les alternances de semaines ne sont pas obligatoires pour utiliser Isa.</em></p>
      </pm-help>
    </pm-form-title>

    <!-- * validations * -->
    <!-- back : erreurs globales -->
    <div ng-messages="$ctrl.vm.ngForm.AlternatingWeeks.pmFormBackValidation.errors" ng-messages-multiple class="pm-form-back-global-validation-messages">
      <div ng-messages-include="pm-back-global-validation-messages"></div>
    </div>


    <pm-form-group-title>Alternance de semaines</pm-form-group-title>

    <!-- ** AlternatingWeeks.name ** -->
    <!-- champ -->
    <md-input-container>
      <label>Nom</label>
      <input name="name" ng-model="$ctrl.vm.alternatingWeeks.name.value" 
             ng-required="true" ng-minlength="$ctrl.vm.alternatingWeeks.name.minLength" md-maxlength="$ctrl.vm.alternatingWeeks.name.maxLength" pm-form-validate-back>

      <!-- exemples -->
      <pm-form-field-example>Une semaine sur 2, Une semaine sur 3...</pm-form-field-example>

      <!-- * validations * -->
      <!-- front -->
      <div ng-messages="$ctrl.vm.ngForm.AlternatingWeeks.name.$error" ng-messages-multiple
           class="pm-form-front-validation-messages">
        <div ng-message="required">Le nom de l'alternance de semaines est obligatoire.</div>
        <div ng-message="minlength">Le nom de l'alternance de semaines doit compter au minimum {{$ctrl.vm.alternatingWeeks.name.minLength}}
          {{$ctrl.vm.alternatingWeeks.name.minLength, plural, offset:0
                =1 {caractère.}
            other {caractères.}
          }}
        </div>
        <div ng-message="md-maxlength">Le nom de l'alternance de semaines doit compter au maximum {{$ctrl.vm.alternatingWeeks.name.maxLength}}
          {{$ctrl.vm.alternatingWeeks.name.maxLength, plural, offset:0
                =1 {caractère.}
            other {caractères.}
          }}
        </div>
        <div ng-messages-include="pm-front-generic-validation-messages"></div>
      </div>
      <!-- back -->
      <div ng-messages="$ctrl.vm.ngForm.AlternatingWeeks.name.pmFormBackValidation.errors" ng-messages-multiple
           class="pm-form-back-validation-messages">
        <div ng-message="null">Le nom de l'alternance de semaines est obligatoire.</div>
        <div ng-message="bad-length">Le nom de l'alternance de semaines doit compter entre
          {{$ctrl.vm.ngForm.AlternatingWeeks.name.pmFormBackValidation.params['bad-length'][0].minLength}} et
          {{$ctrl.vm.ngForm.AlternatingWeeks.name.pmFormBackValidation.params['bad-length'][0].maxLength}}
          {{$ctrl.vm.ngForm.AlternatingWeeks.name.pmFormBackValidation.params['bad-length'][0].maxLength, plural, offset:0
                =1 {caractère.}
            other {caractères.}
          }}
        </div>       
        <div ng-message="not-unique">Ce nom d'alternance de semaines existe déjà pour cette année scolaire.</div> 
        <div ng-messages-include="pm-back-validation-messages"></div>
      </div>
    </md-input-container>

    <!-- ** AlternatingWeeks.startDateForWeeksGeneration ** -->

    <div ng-messages="$ctrl.vm.ngForm.AlternatingWeeks.pmFormBackValidation.errors" ng-messages-multiple class="pm-form-back-validation-messages">
      <div ng-message="chronological-order-dates">Les dates de début et de fin de l'alternance doivent être dans l'ordre chronologique.</div>
    </div>

    <div ng-if="$ctrl.vm.alternatingWeeks.dateStart.canEdit" layout="column" flex="noshrink">

      <!-- champ -->
      <md-datepicker name="startDateForWeeksGeneration"  ng-model="$ctrl.vm.alternatingWeeks.dateStart.value"
                     pm-label="Date de début de l'alternance" pm-example="02/09/2016"                   
                     ng-required="true"                   
                     md-min-date2="$ctrl.vm.alternatingWeeks.dateStart.minDate" md-max-date="$ctrl.vm.alternatingWeeks.dateStart.maxDate" pm-form-validate-back>
      </md-datepicker>

      <!-- * validations * -->
      <!-- front -->
      <div ng-messages="$ctrl.vm.ngForm.AlternatingWeeks.startDateForWeeksGeneration.$error" ng-messages-multiple
           class="pm-form-front-validation-messages" >
        <div ng-message="required">La date de début de l'alternance de semaines est obligatoire.</div>
        <div ng-message="mindate">La date de début de l'alternance de semaines doit être égale ou ultérieure au 
          {{$ctrl.vm.alternatingWeeks.dateStart.minDate| pmCommonDatetimeFilter:'shortDate'}}.
        </div>
        <div ng-message="maxdate">La date de début de l'alternance de semaines doit être antérieure ou égale au 
          {{$ctrl.vm.alternatingWeeks.dateStart.maxDate| pmCommonDatetimeFilter:'shortDate'}}.
        </div>
        <div ng-messages-include="pm-front-datetime-validation-messages"></div>
        <div ng-messages-include="pm-front-generic-validation-messages"></div>
      </div>

      <!-- back -->
      <div class="pm-form-back-validation-messages" 
           ng-messages="$ctrl.vm.ngForm.AlternatingWeeks.startDateForWeeksGeneration.pmFormBackValidation.errors" ng-messages-multiple>
        <div ng-message="null">La date de début de l'alternance de semaines est obligatoire.</div>
        <div ng-message="startdateweek-out-of-current-yearcontainer">La date de début de l'alternance de semaines doit être comprise entre le
          {{$ctrl.vm.ngForm.AlternatingWeeks.startDateForWeeksGeneration.pmFormBackValidation.params['startdateweek-out-of-current-yearcontainer'][0].minDate| pmCommonDatetimeFilter:'shortDate'}}
          et le {{$ctrl.vm.ngForm.AlternatingWeeks.startDateForWeeksGeneration.pmFormBackValidation.params['startdateweek-out-of-current-yearcontainer'][0].maxDate| pmCommonDatetimeFilter:'shortDate'}}.
        </div>
        <div ng-messages-include="pm-back-validation-messages"></div>
      </div>

    </div>

    <!-- ** AlternatingWeeks.endDateForWeeksGeneration ** -->
    <div ng-if="$ctrl.vm.alternatingWeeks.dateEnd.canEdit" layout="column" flex="noshrink">

      <!-- champ -->
      <md-datepicker name="endDateForWeeksGeneration" ng-model="$ctrl.vm.alternatingWeeks.dateEnd.value"
                     pm-label="Date de fin de l'alternance" pm-example="16/07/2017"
                     ng-required="true"                   
                     md-min-date="$ctrl.vm.alternatingWeeks.dateEnd.minDate" md-max-date="$ctrl.vm.alternatingWeeks.dateEnd.maxDate" pm-form-validate-back>
      </md-datepicker>

      <!-- * validations * -->
      <!-- front -->
      <div class="pm-form-front-validation-messages" 
           ng-messages="$ctrl.vm.ngForm.AlternatingWeeks.endDateForWeeksGeneration.$error" ng-messages-multiple>
        <div ng-message="required">La date de fin de l'alternance de semaines est obligatoire.</div>
        <div ng-message="mindate">La date de fin de l'alternance de semaines doit être égale ou ultérieure au 
          {{$ctrl.vm.alternatingWeeks.dateEnd.minDate| pmCommonDatetimeFilter:'shortDate'}}.
        </div>
        <div ng-message="maxdate">La date de fin de l'alternance de semaines doit être antérieure ou égale au 
          {{$ctrl.vm.alternatingWeeks.dateEnd.maxDate| pmCommonDatetimeFilter:'shortDate'}}.
        </div>
        <div ng-messages-include="pm-front-datetime-validation-messages"></div>
        <div ng-messages-include="pm-front-generic-validation-messages"></div>
      </div>
      <!-- back -->
      <div ng-messages="$ctrl.vm.ngForm.AlternatingWeeks.endDateForWeeksGeneration.pmFormBackValidation.errors"class="pm-form-back-validation-messages" >
        <div ng-message="null">La date de fin de l'alternance de semaines est obligatoire.</div>
        <div ng-message="enddateweek-out-of-current-yearcontainer">La date de fin de l'alternance de semaines doit être comprise entre le
          {{$ctrl.vm.ngForm.AlternatingWeeks.endDateForWeeksGeneration.pmFormBackValidation.params['enddateweek-out-of-current-yearcontainer'][0].minDate| pmCommonDatetimeFilter:'shortDate'}}
          et le {{$ctrl.vm.ngForm.AlternatingWeeks.endDateForWeeksGeneration.pmFormBackValidation.params['enddateweek-out-of-current-yearcontainer'][0].maxDate| pmCommonDatetimeFilter:'shortDate'}}.</div>
        <div ng-messages-include="pm-back-validation-messages"></div>
      </div>

    </div>


    <!-- ** AlternatingWeeks.labels ** -->
    <pm-form-group name="labels" md-whiteframe="1" layout-padding flex>

      <pm-form-group-title>
        Semaines
        <pm-help>
          Vous ne devez indiquer que les noms des semaines. L'alternance sera générée automatiquement et vous pourrez la modifier par la suite.
        </pm-help>
      </pm-form-group-title>

      <!-- * validations * -->
      <!-- back -->
      <div ng-messages="$ctrl.vm.ngForm.AlternatingWeeks.labels.pmFormBackValidation.errors" ng-messages-multiple
           class="pm-form-back-validation-messages" >
        <div ng-message="empty-labels">Au moins une semaine doit être renseignée.</div> 
        <div ng-message="labelname-requested">Au moins une semaine doit être renseignée.</div>    
        <div ng-message="labelname-not-unique">Les semaines doivent avoir un nom unique.</div>
        <div ng-message="the-number-of-labels-must-be-the-same">Vous ne pouvez pas changer le nombre de semaines.</div>
        <div ng-messages-include="pm-back-validation-messages"></div>
      </div>


      <pm-action-group>
        <div ng-repeat="weeks in $ctrl.vm.yearWeekCollections" layout="column">

          <!-- ** AlternatingWeeks.labels[$index] ** -->
          <pm-form-group name="{{$index}}" layout="column" flex layout-padding md-whiteframe="1">

            <!-- numéro de semaine + suppression de semaine -->
            <div layout="row" flex layout-align="start center">
              <pm-action-group-select pm-options-id="$index" pm-options-actions="{delete: $ctrl.vm.yearWeekCollections[$index].canDelete}"></pm-action-group-select>
              <div flex>Semaine n°{{$index + 1}}</div>
              <md-button ng-if="$ctrl.vm.yearWeekCollections[$index].canDelete" ng-click="$ctrl.vm.deleteYearWeekCollections([$index])" class="md-icon-button">
                <md-icon md-svg-icon="action:delete"></md-icon>
              </md-button>
            </div>

            <div layout="row" flex layout-wrap>

              <!-- ** AlternatingWeeks.labels[$index].name ** -->
              <!-- champ -->
              <md-input-container flex="noshrink">
                <label>Nom</label>
                <input name="name"ng-model="$ctrl.vm.yearWeekCollections[$index].name.value" 
                       ng-required="true" 
                       ng-minlength="$ctrl.vm.yearWeekCollections[$index].name.minLength" md-maxlength="$ctrl.vm.yearWeekCollections[$index].name.maxLength"
                       pm-form-validate-back>

                <pm-form-field-example>A, B, Rouge...</pm-form-field-example>

                <!-- * validations * -->
                <!-- front -->
                <div ng-messages="$ctrl.vm.ngForm.AlternatingWeeks.labels[$index].name.$error" ng-messages-multiple class="pm-form-front-validation-messages" >
                  <div ng-message="required">Le nom de la semaine est obligatoire.</div>
                  <div ng-message="minlength">Le nom de la semaine doit compter au minimum {{$ctrl.vm.yearWeekCollections[$index].name.minLength}}
                    {{$ctrl.vm.yearWeekCollections[$index].name.minLength, plural, offset:0
                          =1 {caractère.}
                      other {caractères.}
                    }}
                  </div>
                  <div ng-message="md-maxlength">Le nom de la semaine doit compter au maximum {{$ctrl.vm.yearWeekCollections[$index].name.maxLength}}
                    {{$ctrl.vm.yearWeekCollections[$index].name.maxLength, plural, offset:0
                          =1 {caractère.}
                      other {caractères.}
                    }}
                  </div>
                  <div ng-messages-include="pm-front-generic-validation-messages"></div>
                </div>
                <!-- back -->
                <div ng-messages="$ctrl.vm.ngForm.AlternatingWeeks.labels[$index].pmFormBackValidation.errors" ng-messages-multiple class="pm-form-back-validation-messages" >
                  <div ng-message="bad-label-name-length">Le nom de semaine doit compter entre
                    {{$ctrl.vm.ngForm.AlternatingWeeks.labels[$index].pmFormBackValidation.params['bad-label-name-length'][0].minLength}} et
                    {{$ctrl.vm.ngForm.AlternatingWeeks.labels[$index].pmFormBackValidation.params['bad-label-name-length'][0].maxLength}}
                    {{$ctrl.vm.ngForm.AlternatingWeeks.labels[$index].pmFormBackValidation.params['bad-label-name-length'][0].maxLength, plural, offset:0
                =1 {caractère.}
            other {caractères.}
                    }}</div>
                  <div ng-messages-include="pm-back-validation-messages"></div>
                </div>
                <div ng-messages="$ctrl.vm.ngForm.AlternatingWeeks.labels[$index].name.pmFormBackValidation.errors" ng-messages-multiple
                     class="pm-form-back-validation-messages" >                                 
                  <div ng-messages-include="pm-back-validation-messages"></div>
                </div>
              </md-input-container>

              <div layout="row" flex="noshrink" layout-wrap>

              </div>
            </div>
          </pm-form-group>
        </div>
        <pm-action-group-bar>
          <md-button ng-click="$ctrl.vm.deleteYearWeekCollections(getSelectedIds())" pm-action-group-bar-action="delete" class="md-raised">
            <md-icon 
                md-menu-align-target
                md-svg-icon="action:delete">
            </md-icon>
            Supprimer
          </md-button>
        </pm-action-group-bar>
      </pm-action-group>

      <md-button ng-if="$ctrl.vm.isAllowedAddYearWeekCollections" ng-click="$ctrl.vm.addYearWeekCollections()" class="md-raised" >
        <md-icon md-svg-icon="action:create"></md-icon>
        Ajouter une semaine
      </md-button>
    </pm-form-group>

    <!-- toolbar -->
    <pm-form-submit-toolbar>
      <md-button pm-form-submit-button ng-click="$ctrl.vm.cancel()">
        <md-icon md-svg-icon="action:cancel"></md-icon>
        Annuler
      </md-button>

      <md-button pm-form-submit-button type="submit" ng-disabled="!$ctrl.vm.ngForm.AlternatingWeeks.$valid || $ctrl.vm.isSaving">
        <md-icon md-svg-icon="{{'action:' + $ctrl.vm.formAction}}"></md-icon>
        <span ng-if="$ctrl.vm.formAction === 'create'">Créer</span>
        <span ng-if="$ctrl.vm.formAction === 'update'">Modifier</span>
      </md-button>

    </pm-form-submit-toolbar>

  </pm-form>
</md-card>

<!-- Affichage READ  -->

<md-card ng-if="$ctrl.vm.canDisplayView && $ctrl.vm.formAction === 'read'" layout-margin>
  <pm-read>
    <pm-read-title>Affichage d'une alternance de semaines</pm-read-title>
    <pm-read-group>
      <p><pm-read-field-name>Nom de l'alternance de semaines</pm-read-field-name> {{$ctrl.vm.alternatingWeeks.name.value}}</p>
    </pm-read-group>
    <pm-read-group>
      <pm-read-group-title>Nom des semaines</pm-read-group-title>
      <div ng-repeat="week in $ctrl.vm.yearWeekCollections">
        <ul> 
          <li>{{week.name.value}}  </li>
        </ul>   
      </div>
    </pm-read-group>
    <pm-read-actions>
      <md-button ng-click="$ctrl.vm.navigate('home')" class="md-raised">
        <md-icon md-svg-icon="action:return"></md-icon>
        Retour
      </md-button>    
      <md-button ng-if="$ctrl.vm.isAllowedUpdate" ng-click="$ctrl.vm.navigate('update')" class="md-raised">
        <md-icon md-svg-icon="action:update"></md-icon>
        Modifier
      </md-button>
    </pm-read-actions>
  </pm-read>
</md-card>